[2018-09-13 14:35] Piiit opened #1 "EPIC: Set-up and preliminary analysis"
Project: Air Quality

Assigned: Patrick Bertolla

- [ ] As a developer, I want to push my HelloWorld project on a github repository managed by IDM - Patrick Bertolla
- [ ] As a developer, I want to see my HelloWorld integrated in the testing CI pipeline of IDM - Patrick Bertolla

- [ ] As a developer, I want to have the bdp-core installed locally to start testing the data collector code
- [ ] As a

[2018-09-13 14:45] Piiit opened #2 "As a traffic engineer, I want to see the new AQ Data Collector developed by Datatellers (10 minutes) integrated in the ODH infrastructure"
Air Quality DC
@bertolla

[2018-09-13 14:46] Piiit opened #3 "As a developer, I want to push my HelloWorld project on a github repository managed by IDM"
Air Quality DC
@bertolla

[2018-09-19 09:17] bertolla commented on #3
Each provider should have access to repo. The strategy is that they create their fork or just clone it to their local repos and do pull-requests as soon as they have something that's working

[2018-09-19 09:17] #3 closed

[2018-09-19 09:36] bertolla commented on #2
This can only can be done when the code is in the repository. Further more you need to differentiate between CI pipelines and testingpipelines:
- the CI pipeline is only meant for testing if the new code compiles and passes the tests(therefore tests must be written). Furthermore integration-tests can tell you if the code is still compatible with other components for example the writer
- testing pi

[2018-10-20 07:47] rcavaliere opened #15 "As a traffic manager, I would like to check A22 traffic data in testing environment (put A22 Traffic DC developed by 1006.org in testing environment)"
- [ ] Chris provides the source code of the first DC
- [ ] @bertolla implements the pipeline

We have to wait till Chris pushes the complete source code for version 0.1

[2018-11-05 08:45] rcavaliere opened #30 "As a bdp-maintainer I have to update our CI so to successfully run in the testing environment the new Parking DC by edp"
- [x] edpprogetti creates a new commit for stationcode names concatenating a municipality prefix and a cleaned station name
- [x] Import parking-tn from edpprogetti
- [x] Update Jenkinsfile CI to test parking-tn
- [x] Fix surefire plugin issues with new Java versions on Debian
- [x] Create a Jenkins pipeline to run parking-tn DC on our test environment

[2018-11-09 13:41] Piiit opened #33 "As a tester of bdp-air-quality DC, I want to have an integration test, that automatically uploads data files to the FTP test folder and executes them, to see if they get actually stored inside the DB"

[2018-11-09 13:42] Piiit opened #34 "As a mantainer of airquality data, I want to configure which time zone must be used for input data."
We could add this information to the mapping.zip archive. We need to check what the outcome is on the server side, which uses UTC per default. This could be also implemented directly for the pushdata methods, that is, add a time zone parameter (mandatory) and convert internally. That would be less error-prone.

[2018-11-09 13:42] Piiit opened #35 "Task antlr and log4j2: Change logging of antlr internal errors to log4j if possible"
- [ ] Change logging of parsers to `log4j2`

[2018-11-14 08:21] rcavaliere commented on #2
It is correct to have it in testing, even if they have to implement corrections to the Data Collector

[2018-11-17 06:48] rcavaliere opened #37 "As a company developing Bluetooth boxes, I would like to have an alternative system to the current VPN for connecting the boxes to the ODH"
- [ ] install OpenVPN server on AWS (use configuration in annex) [see attached file]
- [ ] provide connection details for CISMA (for the configuration of the firmware in the box)
[181130_openvpn-config.tar.gz](https://github.com/idm-suedtirol/bdp-commons/files/2638178/181130_openvpn-config.tar.gz)

[2018-11-19 09:53] ohnewein commented on #37
@rcavaliere can you please organize a meeting with Endian to see, if they have a solution which would work out of the box?

[2018-11-20 06:45] ohnewein commented on #37
I thought the vpn was also used to be able to connect to a box from remote.

Would this be still possible without vpn?

On November 20, 2018 7:27:45 AM GMT+01:00, rcavaliere <notifications@github.com> wrote:

[2018-11-20 06:46] rcavaliere commented on #37
I think so, therefore I have asked CISMA to check. I would rather to simplify than make things more complex :-)

[2018-11-20 10:47] bertolla commented on #37
Hi guys,
The sending of the data was never meant through VPN. Just the connection to the single boxes and the remote mantainance was done through a VPN. Since we do not have a lot of experience with VPN's and Endian is kind of the expert with it, why not involve them. Furthermore we will have way more Boxes and therefore we need a reliable system of accessing these Boxes, not as we had before.
Pat

[2018-11-22 16:16] bertolla commented on #30
@rcavaliere You can check the testing db if data is correctly inserted

[2018-11-22 16:17] bertolla commented on #2
Still wating ....

[2018-11-23 10:16] bertolla commented on #30
@rcavaliere  you can also check here http://tomcat.testingmachine.eu/parking-ws

[2018-11-26 16:42] rcavaliere commented on #37
@bertolla  @ohnewein Some news here. Stefano G. can provide us the export of the OpenVPN server which actually is installed on traffic.integreen-life.bz.it (62.146.6.205) - German Data Center. CISMA will manage the box, therefore I have agreed with them that they will host this server in the future. The only problem is the timing: CISMA is in the progress to enter in the new NOI building and has s

[2018-12-03 05:38] rcavaliere opened #43 "As a traffic engineer, I want to see the new AQ Data Collector developed by Datatellers (APPATN open data) integrated in the ODH infrastructure"
Go in production only after verification of functioning of the new data collector is complete

[2018-12-03 05:47] rcavaliere commented on #2
Please also consider that in this sprint we would like to start testing the second Data Collector (open data APPA Trento).

[2018-12-03 05:53] rcavaliere opened #44 "As a software developer, I would like to have a new DTO so that I can provide the writer the A22 raw traffic measuerement to be put in a new "horizontal" table"

[2018-12-03 06:03] rcavaliere opened #45 "As a driver, I would like to see the new parking data of Trento and Rovereto on the demo apps (i.e. put the new EDP-implemented DC in production)"

[2018-12-03 07:33] Piiit commented on #2
@rcavaliere @bertolla  Did PR #39 solve this issue?

[2018-12-03 07:36] rcavaliere commented on #2
Since @bertolla has removed the "blocked" label, I guess yes. But I still have to check the data in the testing environment (will do it today).

[2018-12-03 08:47] #45 closed

[2018-12-03 09:50] ohnewein commented on #37
The VPN and monitoring will be done by the hardware provider

[2018-12-03 09:50] #37 closed

[2018-12-03 10:48] ohnewein commented on #44
Roberto will ask Chris to implement it in a separate schema. And in parallel test how testingserver would react with the old structure.

[2018-12-03 10:48] #44 closed

[2018-12-03 11:58] datatellers-devs commented on #2
Hopefully the data is consistent with the one we have in our database (we recreated it using [quickbuild.sh](https://github.com/idm-suedtirol/bdp-core/blob/master/quickbuild.sh)). It is to point out that we have been having issues with 1.2.4 having HttpClientErrorException - 404 null at [JSONPusher.java:69](https://github.com/idm-suedtirol/bdp-core/blob/master/dc-interface/src/main/java/it/bz/idm/

[2018-12-04 10:46] Piiit commented on #30
@rcavaliere It is on production now, please test on Postgres if you can see the correct stations and measurements after 1pm...

[2018-12-05 09:57] bertolla commented on #30
Hi guys,
@rcavaliere @Piiit
It is now in production but data is missing. Trento is working well but Roveretos live data is missing completely. I checked on the test-environment and there it's the same situation. Is this done on purpose to show that data is missing or is our implementation not working correctly?

Furthermore there is one station in Rovereto where it's coordinates are in Campolongo.

[2018-12-05 14:10] rcavaliere commented on #30
DC seems to work fine. Current issues are related to data provider. Let's check the data flow and I will eventually contact the data provider to improve the LoS.

[2018-12-05 14:10] #30 closed

[2018-12-06 07:52] rcavaliere commented on #2
Checked the new DC version, everything works fine (including historical data retrieval). @Piiit or @bertolla can we go in production next week?

[2018-12-08 06:41] rcavaliere commented on #43
DC source code available, @Piiit please put in testing

[2018-12-12 10:46] #2 closed

[2018-12-16 06:22] rcavaliere opened #49 "As a traffic engineer, I want to see the new AQ Data Collector developed by Datatellers (APPABZ open data) integrated in the ODH infrastructure"

[2018-12-16 06:28] rcavaliere opened #50 "As an air quality expert, I want to see the new meteo data stream from the Province of Trento integrated in the ODH infrastructure"
- [x] adapt data-collectors CI pipeline
- [x] create testing pipeline
- [x] deploy to testing server
- [x] EDP makes pull request, incl. documentation and test cases (week 5)
- [x] DC in testing environment (week 6)
- [ ] DC in production environment (week 7)

[2019-01-03 09:33] bertolla opened #53 "environment-tn/opendata DataPusherTest is not compiling and has to be fixed"

[2019-01-07 13:35] rcavaliere commented on #49
Didn't they provide it already? Can you please ping them (Francesco Vettoretti)?

[2019-01-09 12:39] bertolla commented on #50
@rcavaliere can be tested by checking data in our testdatabase. To me it seems ok.

[2019-01-18 06:48] rcavaliere commented on #43
Hi, I have looked at the data in the testing environment. Everything looks fine, this service does not provide real "real-time" data (data are available with some days of delay because they are first evaluated and corrected by humans). Please put this DC in production next week, thanks!

[2019-01-18 06:52] rcavaliere commented on #2
@datatellers-devs we still have issues in the real-time data retrieval. Also @bertolla believes that there is some bug in the code that did not appear in the testing environment. Please fix this ASAP as we are here in the production environment already
![screenshot from 2019-01-18 07-50-57](https://user-images.githubusercontent.com/9825179/51370054-046c6380-1af6-11e9-98ce-c82ab3304d28.png)

[2019-01-18 07:16] rcavaliere commented on #50
@bertolla there are a few things to be de discussed with EDP during the today's sprint meeting. Probably there is the need to make some slight modifications to the DC first.

[2019-01-18 08:35] #43 closed

[2019-01-18 14:38] datatellers-devs commented on #2
@rcavaliere @bertolla the pull request is done and Jenkins is not complaining anymore! Sorry, had it failing because of a leftover reference and couldn't see it in the massive console output. The issues addressed and discussed should now be fixed, let us know how the testing phase goes.

The issue referred in the previous comment was due to the lack of getDateOfLastRecord in the first datacollecto

[2019-01-21 10:19] bertolla commented on #49
Application is now running under testing.
@rcavaliere
There is a lot of overlap with the things Peter did. And right now we have double content with same stations and same types. Can you check what informations we already get from the dc-airquality datacollector to avoid to have duplicates and also to not loose data.
First thing I would do is to name same types and same stations to the same identi

[2019-01-21 12:48] rcavaliere commented on #49
@bertolla I know this, I will check it carefully. Thanks for the work so far

[2019-01-25 14:40] bertolla opened #57 "[appatn-tenminutes] Data is not up to date with data provided by webservice"
As you can see in this screenshot data is not up to date and exactly one day is missing:
![screenshot](https://user-images.githubusercontent.com/3582457/51752194-28f8aa80-20b7-11e9-85c6-6e51cb4eb9cb.png)

[2019-01-28 13:06] rcavaliere commented on #50
Updated plan:

- EDP makes pull request, incl. documentation and test cases (week 5)
- DC in testing environment (week 6)
- DC in production environment (week 7)
Complete planning available on https://docs.google.com/spreadsheets/d/1N5yXmKPDLeSUVivEmeLzpCAWB2p3YPMIAOIclLtjaOg/edit#gid=0

[2019-01-29 07:20] Piiit commented on #50
@rcavaliere This means that we cannot not do anything until the end of this sprint, we just have to wait for EDP. Hence, I move this issue back to backlog for another sprint planning.

[2019-02-04 13:39] rcavaliere commented on #43
@bertolla everything is fine here, please go in production during this sprint!

[2019-02-04 13:54] rcavaliere commented on #49
@bertolla definitely we have a duplication problem here and we have to fix this otherwise we have trobules in using / visualizing these stations. You can easily check this by looking at the stationcode attribute, e.g. station BZ4 is the same station with code APPABZ_BZ4. What would happen if we try to save to in the table two records with the same station code?
Can't we have a logic in the core th

[2019-02-06 13:30] Piiit commented on #49
@rcavaliere
The data collector creates the mapping. That is, if the DC creates a new station, that is already present, it will not overwrite the existing one. However, this must be done already on the DC side. The developer of the DC should have a list of stations, that are already assigned and use the same names. The writer also provides a list of stations with `/stations/{stationType}` and event

[2019-02-06 13:41] rcavaliere commented on #49
@Piiit thanks for the explanation
@bertolla shall we give these instructions to Datatellers?

[2019-02-08 16:07] rcavaliere commented on #49
Sent mail to datatellers with the request to fix the DC (save the stationcode as it is, this will create automatically the mapping with the stations we have in the system)

[2019-02-13 13:19] Piiit commented on #50
@rcavaliere It is on our testing environment... please test. I will test it as well via SQL

[2019-02-13 13:19] #50 closed

[2019-02-13 13:43] Piiit commented on #50
@rcavaliere  The test server has problems deploying new collectors... to many test applications I guess. I will let you know

[2019-02-13 14:17] Piiit commented on #50
I can see some meteo measurements... It seems to work.

[2019-02-14 10:08] bertolla commented on #49
@Piiit Maybe you could check if it works correctly since you wrote the collector with which it might conflict.

[2019-02-15 07:39] rcavaliere commented on #50
Data completeness check completed, specifications fulfilled. We have in the table station also old stations which do not send data anymore, with attribute ACTIVE set as FALSE. Will these stations be visible on the API?

[2019-02-15 07:45] rcavaliere commented on #49
Has the new pull request by Datatellers integrated in the CI and deployed on the testing environment? I still see the old station codes in the table station...

[2019-02-19 09:38] Piiit commented on #49
@rcavaliere @bertolla FYI
It is on testing now, although I had to fix 3 things:
- Tests failed, becaused they checked for the station prefix, that has been removed
- Station codes were not splitted correctly, due to fixed prefix checks `APPABZ_` (both cases are supported now, with and without prefix)
- An old `dc-interface` from `bdp-core` has been used

I will test it now and put it on production

[2019-02-19 10:29] Piiit commented on #49
@rcavaliere @bertolla
Tested on our with `PM10` and station codes `AB3` and `RE1` with measurement date `2019-02-19T10:00:00`, where both had been inserted correctly. All values with `-1` got skipped.
I think that is correct.

@rcavaliere If you agree, I put it on production now...

[2019-02-19 15:51] Piiit opened #77 "parking: Mismatch between free and occupied in V2"
There is a mismatch between the `free` and `occupied` data type, that must be checked. I think the migration script generates `occupied` records, but the data collector inserts `free` records. However, the webservices want to see both.

Need to update the migration script and webservice, which wants an occupied number...

- [x] Only `occupied` and `forecast...` data types should remain after clean

[2019-02-20 13:03] Piiit opened #78 "General issues and inconsistencies on bdp-commons"
## General issues
- Java package paths are often different. We should have one single main path, ex. it.bz.opendatahub.collectors.......
- Some have (default package), which should never happen
- Some have uppercase package names, that's ugly :-)
- Some have source code encodings set to something different then UTF8
- Some have indentations mixed (spaces and tabs) --> should always be tabs (=4 spa

[2019-02-20 15:37] Piiit commented on #49
@rcavaliere On production :-)

[2019-02-28 08:02] rcavaliere commented on #49
@bertolla why do we have some stations set as active = FALSE even if we receive data? These stations are not available on the front-end side!!!

[2019-02-28 08:45] bertolla commented on #49
This is due a misinterpretation of the field origin. If we change the origin string of the datacollector it should work fine. On the test-server there must be the same situation. Origin is not referred to the data itself but to the datacollector. Just think about synchronization works between stations, you can also check the code in class Station to get a better grasp of it.

[2019-02-28 08:48] rcavaliere commented on #49
Sorry, isn't set automatically depending on the fact that the web-service provides info on these stations? And how can we fix this problem?

[2019-02-28 15:31] bertolla commented on #49
Yeah, but different webservices, provide different set of stations. We compare between the set we have in the db and the set we get from a dc. These lines of code should be autoexplaining: https://github.com/idm-suedtirol/bdp-core/blob/ecff9289f23c7e5c626339100aeaaa09caf4f734/dal/src/main/java/it/bz/idm/bdp/dal/Station.java#L376

[2019-02-28 15:35] rcavaliere commented on #49
OK, can you implement this?

[2019-02-28 16:40] bertolla commented on #49
We just need to change origin filed from appabz to for example 'appabz-open'. I will do it now

[2019-03-01 08:11] bertolla commented on #50
no they won't as discussed previously

[2019-03-05 17:09] #49 closed

[2019-03-18 09:32] Piiit commented on #77
@bertolla Done. We need to fix web apps though...

[2019-03-21 10:19] niettadesantis opened #80 "As the manager of the Digitalproject Tourism South Tyrol I would like to have an access to the Kibana dashboard to see the big data of the touristic content of the ODH."
- [x] @RudiThoeni sends a description of the fields in the logs to @niettadesantis
- [ ] @niettadesantis will create some user stories
- [ ] we ask @alexlanz a evaluation of effort to build dashboards for the user stories identified by @niettadesantis

[2019-03-25 10:18] Piiit commented on #77
@bertolla I reopen and add the forecast stuff (see initial comment)

[2019-04-12 08:49] Piiit opened #82 "As a traffic manager, I would like to have new link stations due to new Bluetooth box installations"
Two new link stations have to be created, connecting TIS to via_Galilei_Virgolo (one for each direction).
We should also create two new link stations connecting Agip_Einstein (new box) to meinstein (one for each direction).

Moved from noi-techpark/bdp-bluetooth-vehicle-traffic

[2019-04-15 08:39] Piiit commented on #82
@rcavaliere  Done... Please test!

[2019-04-15 08:39] #82 closed

[2019-04-20 06:56] rcavaliere opened #84 "Change end-point for APPATN AQ Data Collector"
New end-point (finally HTTPS):
https://api.appa.tn.it/brennerlec/

[2019-04-20 06:57] rcavaliere commented on #84
New end-point (finally HTTPS):
https://api.appa.tn.it/brennerlec/

[2019-04-22 04:19] rcavaliere opened #85 "As a traffic manager, I would like that two link stations are created (A22_ML103 -> A22_ML107 and A22_ML107 -> A22_ML103)"

[2019-04-22 04:21] rcavaliere opened #86 "As a traffic manager, I would like that Bluetooth stations "Agip Einstein" and "Agip_Einsten" are merged in one station, named "Agip_Einstein". Link stations that have this station as origin and destination must be fixed accordingly"

[2019-04-29 05:39] rcavaliere commented on #82
@Piiit where did you test this? I don't see the new link stations in the test DB.

[2019-04-30 09:45] #86 closed

[2019-05-06 15:39] Piiit commented on #85
@rcavaliere Done. Please test...

[2019-05-08 05:53] rcavaliere commented on #84
@Piiit @bertolla the data from station 'BrennerLEC' seems to enter correctly in the testing environment.
Did you change something for the "APPATN open data" Data Collector? In this case the end-point must not be changed. I see that the open data stream is not up-to-date. Can you please check and let me know?

[2019-05-08 06:07] #85 closed

[2019-05-09 15:26] Piiit commented on #84
@rcavaliere

- Do you mean `data-collectors/environment-appa/appatn_opendata`? Can you please use the folder names inside bdp_commons to be clearer... thx :-)
- Can you explain this issue? As I understand it, `appatn_tenminutes` should get a new endpoint https://api.appa.tn.it/brennerlec/ and `appatn_opendata` should keep the old one (https://appa.alpz.it/aria/opendata/json/)?

I see, that inside

[2019-05-10 03:53] rcavaliere commented on #84
@Piiit my answers:

- Yes, I mean the folder you mentioned
- Yes, you understood correctly

`

[2019-05-13 07:09] Piiit commented on #84
@rcavaliere
I tested both DCs. The endpoints are set as described above.

[2019-05-13 07:09] #84 closed

[2019-05-14 07:39] rcavaliere opened #89 "As a project manager, I would like that the car pooling DC is modified so to be integrated in the bdp-core v2."
In this activity please also clean up all data related to car pooling stored in the DB, which is fake data.

[2019-05-16 11:44] bertolla opened #92 "Move geoserver to a standalone server to allow horizontal scaling of webservices"
- [x] setup a eb environment to host geoserver alone
- [x] test new geoserver version
- [ ] switch endpoint for geoserver
- [ ] remove old geoserver
- [ ] make ws load-balanced with multiple instances

[2019-05-22 11:42] bertolla commented on #89
Hub synchronization sometimes does not work. Need to investigate further!

[2019-05-27 13:15] rcavaliere opened #94 "As a project manager, I would like to have a way to automatically manage the A22 VPN for connecting to the platform managing the innovative air quality measurements"
More specifically: the VPN client is CheckPoint VPN. An alternative to the Windows client has to be found. Credentials have been already shared.

**TODOS**
- [x] Try to find a linux vpn client and use that to connect to the A22 VPN

- [x] Install a windows machine on AWS

- [x] Install the VPN client (checkpoint) with A22 credentials
- [x] Install a proxy on the windows machine to pipe through the

[2019-05-27 13:18] rcavaliere opened #95 "As a project manager, I would like to set up to CI pipeline for the A22 innovative AQ sensors DC developed by Nicola Pedot"
- [x]  Nicola needs to make a pull request for the latest changes
- [x] CI pipeline for unit testing
- [x] test pipeline to deploy the app to the testserver
- [x] get credentials to access test environment

[2019-05-28 13:17] Piiit commented on #94
There is a linux client, but quite old (it still uses i386 32bit libraries). I had no luck until now to connect to the VPN. There are other options, like "ike" or "shrew", but for them I would need much more detailed server information. @rcavaliere Could you please ask A22 about there experiences with linux or ask them about additional information, like encryption algorithm etc... (see email)

[2019-05-30 09:13] rcavaliere commented on #94
@Piiit as I expected A22 does not want to remove the VPN obstacle, and unfortunately they do not support Linux clients. They suggested to foresee a Windows virtual machine. Is this possible?

[2019-05-30 12:04] Piiit commented on #94
@rcavaliere Yes, that is possible, but costly... We would need a Windows machine just as a proxy.

[2019-05-30 12:06] rcavaliere commented on #94
@Piiit let's do like this. I will try to convince A22 next week. If I don't manage to do it, we will discuss this internally at the next sprint meeting how to proceed.

[2019-05-30 14:29] bertolla commented on #89
Fixed the sync issues but needs further testing. I didn't have it again.

[2019-05-30 14:48] bertolla commented on #95
Waiting for Nicola to solve merge conflict

[2019-05-31 07:36] bertolla commented on #95
@rcavaliere Could you in the meanwhile provide me access to the test environment? Nicola told me it's in the documentation

[2019-05-31 07:37] rcavaliere commented on #95
host: mqtt-test.algorab.net
Porta: 61619
Username: testMQTT
Password: testMQTT

[2019-05-31 14:20] Piiit commented on #94
Testing can be done with a MQTT client https://www.hivemq.com/blog/seven-best-mqtt-client-tools/

[2019-06-03 10:05] bertolla opened #98 "[environment-a22] test deployment fails"
Test deployment failed with following errors:
[code]

[2019-06-04 08:11] bertolla commented on #98
app now is running with last deployment

[2019-06-04 08:11] #98 closed

[2019-06-04 09:22] bertolla commented on #94
@rcavaliere
Reverse Tunnel + vpn is ready, but a big Problem is that we loose connection to the VPN after a couple of minutes.
Could you ask a22 why that is and if they can resolve the issue?
Thx,
Patrick

[2019-06-04 10:32] rcavaliere commented on #94
@bertolla good to hear this, I have asked A22 for support in the open issue left.

[2019-06-07 06:48] rcavaliere opened #101 "As a project manager, I would like to set up the CI pipeline for the A22 traffic data sensors DC developed by Davide Montesin with Chris Mair"
Deployment and setup of 2 separate applications is needed:
- [x] data importer written by Chris M.
- [x] data elaboration data collector by Davide M.

[2019-06-07 06:50] rcavaliere opened #102 "As a project manager, I would like to set up the CI pipeline for the A22 Variable Message Signs (VMS) DC developed by Davide Montesin with Chris Mair"

[2019-06-07 06:52] rcavaliere opened #103 "As a project manager, I would like that the Bluetooth / travel times elaboration chain is compatible with bdp-core-v2 and are visible again on analytics (including new stations) - implementation by Davide Montesin"

[2019-06-07 06:53] rcavaliere opened #104 "As a project manager, I would like that the CI for the new realtimebus server + new mobility.meran.eu/bus prototype are set-up (implementation by Daniel Rampanelli)"

[2019-06-07 06:55] rcavaliere opened #105 "As a project manager, I would like that the CI for the meteo DC is set-up (new DC for the open data of the Province of Bolzano, developed by EDP)"
- [x] ci pipeline
- [x] testing pipeline
- [x] check if data enters smoothly

[2019-06-07 07:33] ohnewein commented on #89
Still doesn't work

[2019-06-07 07:57] #95 closed

[2019-06-07 08:23] #89 closed

[2019-06-11 07:20] bertolla opened #107 "[meteorology-bz] date parse exception"
data is not ending up in db and app gives this exception:
2019-06-11 07:12:37,760 [Scheduler-2] DEBUG it.bz.idm.bdp.dcmeteorologybz.DCUtils - Exception parsing date 2019-01-12T20:50:00CET: java.text.ParseException: Unparseable date: "2019-01-12T20:50:00CET"

[2019-06-11 09:46] bertolla commented on #105
CI and testing pipeline are up and running, but we have a bug: https://github.com/noi-techpark/bdp-commons/issues/107

[2019-06-11 09:50] bertolla commented on #103
Waiting for Davide to provide new code

[2019-06-11 09:51] bertolla commented on #94
No news?

[2019-06-11 09:52] rcavaliere commented on #94
Unfortunately not at the moment. Will let you know...

[2019-06-13 08:58] bertolla commented on #101
Waiting for a pull request by Davide M. Already  sent an email where I explained how we expect code

[2019-06-13 08:58] bertolla commented on #102
Informed Davide M. how to do pull-request. Now on standby waiting for his pull-request.

[2019-06-13 09:56] RudiThoeni commented on #80
Description of the Logged Fields

The api logs all request that comes from
-suedtirol.info
-landingpages
-suedtirol app
-Tourism data browser

-Timestamp
-Requested URL on the api
-HTTP Method (GET POST PUT etc..)
-IP from where Request was made
-Username if available (for a logged app user, or elements if a request comes from suedtirol.info, marketingfactory for landingpages)
-User Agent (browser

[2019-06-21 07:01] Piiit commented on #94
On MAC we get a drop of connection after max. 2 minutes. Maybe it is a local network issue. I have already asked Berni, which has a cooperation with someone from UNIBZ not earlier than 3 July. Another solution would be to use the windows machine on AWS. The VPN client installation went well and we have a ssh tunnel to that machine as well. But our script would need to be ported to the powershell,

[2019-06-23 05:50] rcavaliere commented on #102
@bertolla Davide has sent his update. Please check with him the open point related to the retrieval of the last record in the ODH

[2019-06-23 13:24] edp-progetti commented on #107
I did a fix in the code and created pull request #111. Now the import of the data should work.

[2019-06-24 05:16] rcavaliere commented on #101
@bertolla Chris has provided his contribution, so we can proceed with this issue

[2019-06-24 07:14] #107 closed

[2019-06-24 07:19] bertolla commented on #105
@rcavaliere The datacollector is now running and data is being put in the test database.
I noticed that the new types didn't get inserted(e.g. foliar-wetting). Could there be a plausible reason?

[2019-06-24 07:22] rcavaliere commented on #105
@bertolla wonderful! I will test and check this.

[2019-06-24 08:06] bertolla commented on #92
Please test if new geoserver is working correctly(credentials are the same)
http://odh-geoserver.eu-west-1.elasticbeanstalk.com/web/

[2019-06-24 11:50] bertolla commented on #102
@rcavaliere
I created a CI and a test deployment pipeline but I'm missing:
- [ ] credentials for testing env(please send them through an encrypted email with office365)
- [ ] README with a basic documentation
- [ ] any type of unit/integration test

[2019-06-24 15:53] rcavaliere commented on #102
@bertolla credentials sent (please confirm)

[2019-06-25 07:02] bertolla commented on #102
I got them but I'm still missing the endpoint, which means I need an URL

[2019-06-25 07:09] rcavaliere commented on #102
http://webservices.cau-a22.org:8080/ valid for all A22 Data Collectors developed by Chris and Davide (not for innovative air quality sensors)

[2019-06-25 07:17] bertolla commented on #102
No ssl url?

[2019-06-25 07:21] rcavaliere commented on #102
No...

[2019-06-26 09:17] bertolla commented on #102
Deployed the datacollector to testing environment. It seems to not insert data, I'll wait for documentation so I won't loose time. This is the log i get:
[code]

[2019-06-27 06:33] bertolla commented on #102
Data is entering now but there are still things Davide will adjust, so I will wait for his next pull-request

[2019-06-27 09:32] rcavaliere commented on #105
@bertolla I see some major issues in the data modelling. We need a modification by EDP. The major problem is that a control of current stations already saved in the database is not performed, and stations with same stationcode have now two records in the station table. This should be fixed and then we can make further tests.

[2019-06-30 04:52] rcavaliere commented on #103
@bertolla did you manage to fix the problems with Davide's code in relation with the integration tests? Please contact him if necessary and proceed with deployment in testing environment

[2019-06-30 05:05] rcavaliere commented on #102
@bertolla, yes, David will also change something in the way data are provided to the bdp-core. Please push him if he does not make a push in a few days... Once the new pull request is available, please update it in the testing environment

[2019-06-30 05:08] rcavaliere commented on #101
@bertolla Chris has found a bug in the data stream provided from A22, which now should be fixed (we are still waiting for A22 for providing more explanations). Chris wants to wait some days to check that the problem has been solved. Please check with Chris if everything is fine, if yes please proceed with the integration in the testing environment

[2019-07-03 13:05] bertolla commented on #103
application is running on testserver. We only got bluetooth records till april there.
Seems to be working correctly: http://tomcat.testingmachine.eu/bluetoothtrafficelaboration/

[2019-07-03 13:10] bertolla commented on #101
Chris M. is still analyzing the data and found further problems. He documented it and explained it in his last mail. Maybe we should attach it to the project informations.

[2019-07-04 14:18] Piiit commented on #92
Tested edi:parking, edi:Carsharing and edi:Echarging with mobility.meran.eu --> OK
cleanroad-stations, bikesharing, carpooling, pollution* tested with the Geoserver Layer Preview --> OK

[2019-07-04 14:18] #92 closed

[2019-07-05 05:37] rcavaliere commented on #94
Quick update from my side: alternative solution as the one we discussed at the last Sprint Meeting should be feasibile, waiting for final ACK.

[2019-07-09 09:19] bertolla opened #114 "As a thrid party I want to be able to add contents through a google spreasheet to opendatahub, to simplify insertion of new data"

[2019-07-15 12:13] bertolla commented on #114
Inserted data can already be seen here https://geodata.integreen-life.bz.it/edi/wms?service=WMS&version=1.1.0&request=GetMap&layers=edi%3Acreative%20points%20on%20map&bbox=11.1433265%2C46.3395693%2C11.9563958%2C46.8330732&width=768&height=466&srs=EPSG%3A4326&format=application/openlayers

[2019-07-17 05:52] rcavaliere commented on #103
Elaborations tested, seem to work fine. Asked Davide to change elaborations' period and to add two data types, waiting for feedback

[2019-07-17 07:21] rcavaliere commented on #105
Problem seems to be solved, I suggest to go into production

[2019-07-17 08:59] #105 closed

[2019-07-17 13:20] bertolla commented on #114
and can already be tested with `Tschiwiti` http://tomcat.testingmachine.eu/reader2/api/v2/flat/CreativeIndustry

[2019-07-18 06:50] bertolla commented on #114
It is now ready for testing. You shoult all have a document that I shared called CreativeIndustries(https://docs.google.com/spreadsheets/d/1I5Zj7JHprwLhzl9ktXJO-7v7x3rh1ysGbiblZgZYCXU/edit#gid=1952520682). I wrote a rough user guide in the README of the project https://github.com/noi-techpark/bdp-commons/tree/development/data-collectors/spreadsheets-google. Try it out pls!

[2019-07-18 13:59] LucaMiotto commented on #114
- Information from the spreadsheet are shown correctly on the map and in the description box for each point.
- I've tried to insert a new location with address "Via Alessandro Volta 13 39100 Bolzano". First time didn't work so I used OSM Nomination, as readme says, but the naming seams to be correct. I've also tried the german version "Alessandro-Volta-Straße 13 39100 Bozen" but probably didn't sy

[2019-07-25 16:47] rcavaliere commented on #94
News from Gianluca Antonacci: he told me that he found a client working on Fedora that could also manage the automatic connection every 8 hours.
Details here:

Qui ci sono le istruzioni che ho usato io su Fedora (in realtà avevo già tutte le dipendenze soddisfatte)
https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fblog.gordonbuchan.com%2Fblog%2Findex.php%2F2018%2F12%2F30%2Fconnecti

[2019-07-31 12:16] rcavaliere commented on #102
Checked the data in the testing environment. For me it is OK, let's go in production with this DC.

[2019-07-31 12:21] #94 closed

[2019-07-31 12:22] rcavaliere commented on #94
@Piiit stop tests if you started them. I managed to agree with A22 that we don't need a VPN anymore. We will get access through HTTPS, calls will be possible only from a static IP address.

[2019-07-31 12:39] rcavaliere commented on #101
@bertolla completed data check in the testing DB. Everything seems OK
When going onto production, remember to change the property file (where is it in this repository?) so that in the station table in the DB we have:
- origin = A22 (now void)
**- stationtype = TrafficSensor (now a22-traffic)**
The second one is particularly important so that this dataset is available through our API together with

[2019-07-31 14:02] Piiit commented on #94
@rcavaliere This are good news. So I will wait until the path of open for regular retrievals. Let me know, what you need.

[2019-08-08 12:10] #102 closed

[2019-08-26 08:07] #101 closed

[2019-09-11 07:46] bertolla commented on #103
@rcavaliere
I tried to add a new row in scheduler_task but it's not working. Furthermore I deployed the app on the testserver and it is calculating data which it already calculated and inserting nothing in the database.
We miss any kind of written documentation on this, like we don't know how to insert new elaborations and how to read a situation like this. Maybe you know better. Check out: http:/

[2019-09-13 05:48] rcavaliere opened #126 "As a traffic manager, I would like to see the correct A22 lane names on the analytics web-app"
The application developed by Chris Mair to automatically retrieve the A22 traffic raw data had a bug. In particular, the metadata of the A22 traffic sensors stations were stored in a wrong way. Now the bug has been fixed and the new application version is available on the development branch of A22TrafficConnector. The request is to put the application in the production environment so that the modi

[2019-09-13 05:57] rcavaliere opened #127 "As an air quality expert, I would like that the testing activities related to the connection between MQTT algorab server and A22 AQ DC for the retrieval of the innovative AQ sensors of the A22 are completed"
The application (data collector) is not working as expected. I tried to fix it and did it in part, but I noted a lot of issues which are still causing data not being delivered.
- [x] data linearization causes infinite values which are not handled at all and therefore not sending any of the computed data
- [x] buffer which contains fetched data is being delete on every push data call even before th

[2019-09-13 06:10] rcavaliere opened #128 "As a meteorological data analyst, I would like that all measurements of the meteo stations in the Province of Bolzano are correctly retrieved. Some measurements are up-to-date, even if data exposed by the API are available."

[2019-09-13 06:12] rcavaliere opened #129 "As an AQ data analyst, I would like that measurements of the AQ stations in the Province of Bolzano with period = 3600 are correctly retrieved and available on the ODH API"

[2019-09-13 06:13] rcavaliere opened #130 "As an AQ data analyst, I expect that all data with period = 3600 are available as open data"
- add a flight rule on how the workflow to define access policies work
  - have a shared document with all the policies
- verify all policies on the document and in the rule engine which has NO WEB UI, because of decisions of PO in the past

[2019-09-13 08:07] #114 closed

[2019-09-17 12:21] bertolla commented on #130
@rcavaliere
Can't find that document with the policies. Do you know where it is?

[2019-09-17 15:51] bertolla commented on #128
@rcavaliere
Finally understood the reason for this malfunctioning.
There are holes in the datasets provided by the province. Right now the tool always only requests data of one day to avoid out of memory issues. But if the station did not provide data for more than 24 hours the call will never return any data. If we increase the interval we would probably solve the problem, risking out of memory p

[2019-09-17 16:22] rcavaliere commented on #130
@bertolla Do you want that we update this one: https://docs.google.com/spreadsheets/d/16Bok6Vd_PsRRZF1E_WR-uk2Y2Q1nZIlpTfOuu5Rvl4c/edit#gid=0 ?

[2019-09-17 16:28] rcavaliere commented on #128
@bertolla if this is just a logic change I would suggest to do it by our own, increasing from 24 hours to 7 days. Can you do that?

[2019-09-18 08:06] bertolla commented on #130
Didn't we have something else, because we have no detail information in there like the period 3600 period

[2019-09-18 08:08] rcavaliere commented on #130
Sincerly I don't remember, but I can update this information with all actual information

[2019-09-18 11:22] bertolla commented on #128
Additionaly I noticed that last record is requested by using a static period, while the period varies by datatype and therefore same window is getting requested again and again for some types

[2019-09-18 12:18] bertolla commented on #130
At this point it might be better to comment it in the already existing sql file where data gets imported:
https://github.com/noi-techpark/bdp-core/blob/master/dal/src/main/resources/META-INF/sql/opendatarules.sql

[2019-09-18 15:35] rcavaliere commented on #128
Let's avoid to consider the period in this logic

[2019-09-18 15:39] rcavaliere commented on #130
OK, I noticed that for air quality data there is a difference if one wants APPABZ data and data from other providers. The rule should be that data with period = 3600 from ALL providers are open for everyone. Do you want that we sit down 10 minutes together and update together the rules?

[2019-09-19 08:58] bertolla commented on #128
OK implemented it now most of datasets are up to date. The only once which are not updating are the following:
[code]

[2019-09-19 09:02] bertolla commented on #130
I will now make that work. Maybe it would be good if we use the comments to describe the rules better and use it as our ruledoc

[2019-09-19 09:12] rcavaliere commented on #130
Agree. Let's use this sql file as master for all the open / closed data rules

[2019-09-19 14:24] bertolla commented on #130
I noticed that even thought in the opendatarules the period is specified the API still did not work as expected and therefore opened this issue in bdp-core #noi-techpark/bdp-core/issues/110

[2019-09-24 08:13] bertolla commented on #127
Waiting for Nicola P. to implement a way of not stopping all other applications deployment.

[2019-09-27 07:04] #128 closed

[2019-09-27 07:07] rcavaliere commented on #128
Works but there is some issues with the authentication side (e.g. VMS data are not visible)

[2019-09-27 07:59] ohnewein commented on #130
The issue is that https://ipchannels.integreen-life.bz.it/environment/rest/get-newest-record?station=APPATN_27 doesn't provide Open Data

[2019-09-27 09:14] rcavaliere opened #132 "As a traffic expert, I would like to test the push mechanism of the pilot system managing the on-spot parking sensors in Bolzano"
We have decided to use as generic URL logger.testingmachine.EU

- [x] set up the Apache and activate the URL

[2019-09-27 09:34] rcavaliere commented on #130
@ohnewein  Please consider that this station is the only one of APPABZ and APPATN which does NOT provide hourly measurements. If you try e.g. https://ipchannels.integreen-life.bz.it/environment/rest/get-newest-record?station=APPATN-open_23 you get something. @bertolla now it seems to work fine, shall we close this issue? If you now navigate on analytics.mobility.bz.it (map) you can see what measur

[2019-10-03 17:56] rcavaliere commented on #130
@bertolla I think we still some have some issues with the authentication side, now I don't get any air quality data with period = 3600...

[2019-10-03 17:57] #126 closed

[2019-10-04 13:06] bertolla commented on #132
Data can be send to http://logger.testingmachine.eu/.
For testing i did not enable ssl. but should work the same.
What kind of data will they send?

[2019-10-05 04:54] rcavaliere commented on #132
Wonderful, I have shared the end-point with the data provider. The data will relate to the position of the parking lots and their current occupancy (free / occupied). Let's how they are structured.

[2019-10-09 05:38] rcavaliere commented on #132
Data are entering. Message example:

{
"devEUI":"001bc50670100539",
"appEUI":"70b3d59b60000003",
"fPort":1,
"gatewayCount":1,
"rssi":-51,
"data":"gAAAAyIQ8/kBAAAD1FY6ADUAABWZAMk6",
"parsedData":{
	"FW-version":58,
	"Magnitude":980,
	"Payload":"KEEPALIVE",
	"Progtx":5529,
	"Retries":0,
	"Rssi":53,
	"Sensor-address":"00000322",
	"Status":"free"},
"loRaSNR":10.8,
"frequency":868100000,
"dataRate"{
	"

[2019-10-09 09:27] rcavaliere opened #135 "As a an e-mobility user I would like to see correct link to Alperia web site and plugs icons visibile"

[2019-10-09 11:12] bertolla commented on #135
- replaced link in all mobility variants
- images are reachable but only through http and therefore our site says it's not secure anymore

[2019-10-09 15:06] #135 closed

[2019-10-10 07:50] bertolla commented on #127
This is log output when trying to deploy the war file:
[code]

[2019-10-10 09:10] bertolla commented on #103
@rcavaliere
Elaborations are being calculated but are quiet slow because it hast to calculate the last months.
You can see the progress here: http://99.81.159.57:8080/bluetoothtrafficelaboration/

[2019-10-11 07:40] #132 closed

[2019-10-14 12:23] Piiit commented on #130
@rcavaliere @ohnewein @bertolla
This issue results from the way I thought of permissions which were a hierarchical tuple (station, data type, period). So, if you only set (station, NULL, period) the calculation did not consider that rule at all, because it is errornous as it was planned, e.g. not hierarchical anymore. Now also the new use case with (station, NULL, period) is supported at should al

[2019-10-19 05:16] rcavaliere commented on #127
@bertolla can we change strategy and dedicate a separate environment for this DC which implements a MQTT broker?

[2019-10-19 05:17] rcavaliere commented on #103
@bertolla @Piiit please notify me when the links are configured as discussed (only active links should be ACTIVE) and the new elaborations related to the new periods are ongoing.

[2019-10-19 05:21] rcavaliere commented on #130
@piit nice, but if I try to get data now without authentication I also get also data which should be closed...
![Screenshot from 2019-10-19 07-21-18](https://user-images.githubusercontent.com/9825179/67138279-1de73b00-f241-11e9-8f15-c57aebba2099.png)

[2019-10-19 12:54] rcavaliere opened #137 "As a traffic analyist, I would like to check wheter A22 Traffic DC is working properly"

[2019-10-21 07:45] Piiit commented on #130
@rcavaliere As already communicated, I was not able to reproduce the error. Maybe it was a caching, session error of the analytics webapp. The API does not leak non-open data. Closing for now. Please reopen if the error occurs again.

[2019-10-21 07:45] #130 closed

[2019-10-21 12:52] bertolla commented on #137
last elaboration has been done on 16/10

[2019-10-21 12:54] rcavaliere commented on #137
That is not good. Can you check the problem here or eventually try to relaunch the data collector?

[2019-10-21 13:01] bertolla commented on #137
a22 db is uptodate and not logging any error. a22 trafficelaborations are also not logging errors

[2019-10-21 13:07] rcavaliere commented on #137
Strange. Have you tried to relaunch the data collector? How is the chron currently configured?

[2019-10-21 13:32] bertolla commented on #103
@rcavaliere Peter created the missing links. Elaborations are being calculated at the moment, but it will take time since it has to create the whole history. You can see the progress on the same link as before

[2019-10-21 13:45] bertolla commented on #127
A separate environment could work to avoid the deployment issue, but I do not understand why we need a MQTT broker. To be independent from a22 test environment?

[2019-10-21 13:47] rcavaliere commented on #127
That's what algorab can provide us. As you know we have also to provide back to them some elaborations on the raw data. If this has not huge impacts for us, I would recommend to go in that direction

[2019-10-21 13:51] bertolla commented on #137
I did just now but I do not think it will work. It starts every half hour

[2019-10-21 14:07] rcavaliere commented on #137
Please check if something happens after this restart. If not, let's involve Davide + Chris to check what is wrong...

[2019-10-21 14:28] bertolla commented on #137
works again

[2019-10-22 08:06] bertolla commented on #137
Now the newest timestamp is 2019-10-21 14:00:00 but it's not changing. To me it seems something is not working with the scheduling which is not refletcted in the log files.
I think we should involve Davide, since it's his part

[2019-10-22 13:34] bertolla commented on #137
by digging deeper I noticed that there is a station which is not up to date with the rest (SEZIONE DI RILEVAMENTO KM.  87,8 - BOLZANO SUD (corsia di sorpasso sud, direzione sud))
And by setting the log file to debug I saw that exactly this elaboration where being calculated. Which means the behavior is the following. Bring every station up to date and do not schedule any othere tasks before it's f

[2019-10-23 04:49] rcavaliere commented on #137
@bertolla ah ok, that's was the issue. But why wasn't it considered before? Let's wait and see what happens when all stations are aligned. Thanks for your deep logging analysis work!

[2019-10-23 08:58] bertolla commented on #137
As soon as the calculation finished the next station (SEZIONE DI RILEVAMENTO KM. 103+700 - EGNA ORA (corsia di sorpasso nord, direzione nord) )started to calculate elaborations from January 2017. For every station it takes days to complete. Is that normal?

[2019-10-23 10:02] rcavaliere commented on #137
It depends if there are already elaborations stored in the DB. If not, it is normal. If yes, no. Can you check this?

[2019-10-24 08:46] bertolla commented on #137
As we discovered the history elaboration import will take a long time and therefore this is not really a bug but more like an algorithm which takes time. I switched to a faster ec2 instanz to make elaborations faster but it still will take ~ 2 months to calculate all elaborations.

[2019-10-25 05:23] rcavaliere commented on #137
@bertolla let's close this issue for now but please check regularly if the DC is working fine and new elaborations are entering in the DB. I will check this too on the analytics, once properly working.

[2019-10-25 05:23] #137 closed

[2019-10-25 05:25] rcavaliere commented on #103
@bertolla @piit if I am right our API does not expose anything for the LinkStations, and that's why we can't see anything on the analytics webapp. Can you please check this? In these days a lot of new boxes have been installed and it would be nice to see all the data entering and the new elaborations

[2019-10-25 05:28] rcavaliere commented on #103
@bertolla I also see that for the Bluetooth elaborations we still not have the elaborations with new periods. Are they running correctly?

[2019-10-27 06:01] rcavaliere commented on #103
@bertolla please ask if you do not remember exactly the periods for the new elaborations to be created. I can prepare here the exact list of new elaborations to be added. If we still miss documentation from David on how to do that, please ask / push him.

[2019-10-27 06:04] rcavaliere commented on #103
@bertolla please also remember to put in production the last version of the analytics web-app, so that I can check all new functionalities developed by Davide

[2019-11-01 06:37] rcavaliere commented on #103
@bertolla we are still missing the new elaborations in order to close this issue. The new elaborations are the following:
-[] count_bluetooth_intime (args 600)
-[] count_bluetooth_intime (args 3600)
-[] count_match_intime (args 600)
-[] count_match_intime (args 3600)
-[] run_mode_intime (args 600)
-[] run_mode_intime (args 3600)
-[] run_mode_intime (args 3600)
-[] compute_bspeed (args 600)
-[] com

[2019-11-01 06:47] rcavaliere commented on #103
@bertolla I have seen another issue. Our API does not provide the results of the elaborations associated to the data type "velocita'". But it seems to me that the elaborations are correctly executed. Can you please check this?

[2019-11-04 16:58] bertolla commented on #103
I'm still missing documentation.

What do you mean with API? It is in the database but you can't see it on analytics?
Is that the case?

[2019-11-05 13:54] rcavaliere commented on #103
OK, I will ask Davide for the documentation.
Regarding the API, I mean our API: http://ipchannels.integreen-life.bz.it/origin-destination/swagger-ui.html

[2019-11-07 15:27] bertolla commented on #127
Deployed the datacollector on a seperate test server and it run but it seems to me that the mqtt server is no longer reachable
[code]

[2019-11-16 07:21] rcavaliere opened #142 "As a bike sharing user I would like to see the real-time bike sharing data of the service in Merano integrated in the ODH"
EDP has completed the development work. The issue is related to the creation of the CI pipeline and the integration in our testing / production environment
See https://github.com/noi-techpark/bdp-commons/pull/141

[2019-11-18 10:44] bertolla commented on #142
@rcavaliere
Following the documentation I need to set these 2 parameters
app.auth.token=Bearer AUTH_TOKEN
app.auth.selectedTeam=SELECTED_TEAM

Can you provide them in an encrypted mail?
Thx

[2019-11-18 11:34] rcavaliere commented on #142
Done, please let me know if it works correctly.

[2019-11-18 12:51] bertolla commented on #142
ok I'm missing the second configuration parameter, which in documentation are stated as

If you do not know about it, better ask Marco so he can also explain it

[2019-11-18 12:56] rcavaliere commented on #142
Try with the code I just sent you

[2019-11-18 13:19] bertolla commented on #142
Application deployed on test server. Check the test database if data enters correctly

[2019-11-20 11:03] bertolla commented on #104
server is up and running on https://realtimebusv2.sasabus.org/
Examples:
https://realtimebusv2.sasabus.org/vdv/list
https://realtimebusv2.sasabus.org/v2/stops
https://realtimebusv2.sasabus.org/v2/routes/221/4//geometry.geojson

We are missing 2 things in my opionon:
- tests (0 test coverage)
- API documetation

[2019-11-20 13:09] bertolla commented on #127
Now it's running again and inserting data. Pleas check if everything works fine.

[2019-11-25 14:16] bertolla commented on #104
I modified the old php version, so it sends the data to the new endpoint and therefore the realtime data can be seen here as json:
- https://realtimebusv2.sasabus.org/app/realtime/delays
- https://realtimebusv2.sasabus.org/app/realtime

[2019-11-26 10:46] bertolla commented on #104
@rcavaliere
Daniel Rampanelli told me that there is  a Swagger documentation, which in my opinion isn't working properly yet. I informed him and waiting for his response. If you want to you can already test the endpoints described in my previous comments.

[2019-12-10 06:16] rcavaliere commented on #142
@bertolla still don't see the data related to the data collector, did you activate it again?

[2019-12-12 07:51] rcavaliere commented on #104
Status: Daniel Rampanelli has to fix the system, since on the client we don't see static and real-time data (they just appear sometimes)

[2019-12-12 08:11] rcavaliere commented on #127
@bertolla before I complete the testing, I would like to ask you to deploy on the testing environment a new version of the DC that Nicola should have committed. It contains new elaboration logic. When done, please put in testing again and assign the issue to me. Thanks!

[2019-12-12 09:50] rcavaliere commented on #142
@bertolla the DC works fine please go into production

[2019-12-12 09:50] #142 closed

[2019-12-19 11:34] bertolla commented on #127
The last version from Nicola was already deployed on 10th december after we took his pull request.

[2020-01-08 15:16] rcavaliere commented on #127
@bertolla did you stop the data collector on the testing environment? I can't see the AQ stations... also the folder with the code of Nicola is missing from the repository. Can you please check?

[2020-01-10 08:53] bertolla commented on #103
@rcavaliere
The first geometries of the links are already stored correctly in the database. To use it for the length retrieval this querry has to be integrated in the bspeed elaboration sql file:
[code]
I think Davide knows where to put the hands to make this work.

[2020-01-10 13:53] bertolla commented on #103
Importer is up and running. Refer here for documentation: https://github.com/noi-techpark/bdp-elaborations/tree/master/ShapefileFeatureImporter

[2020-01-10 14:46] edp-progetti opened #145 "[bikesharing-bz] Clarification for data types and data transformation in bikesharing-bz Data Collactor"
I implemented the transformation of data coming from Ecospazio web services as described in the analysis document. There was a point to discuss about the metadata to attach to the Stations of type "Bicyclestation" (the type "spots_avalilability" filled from field "free_bays" of the web service). In fact the web service gives three values: total_bays, free_bays, available_vehicles and in some cases

[2020-01-11 05:46] rcavaliere opened #146 "As a user, I would like to see the real-time data of the new bike sharing service in Bolzano"
EDP has implemented the prototype version of the DC, which should be integrated in the testing environment so to be tested.

[2020-01-13 10:15] bertolla commented on #146
CI is failing. I informed Marco through the pull-request

[2020-01-13 12:34] bertolla commented on #104
I would close this userstory since CI is setup since  a while now ant the software is currently just failing in part, because of SASA providing bad dataquality(as said by D.R.)

[2020-01-13 13:36] bertolla commented on #146
Set the application in the test environement. Data should already be available in test db.

[2020-01-14 16:44] rcavaliere commented on #127
@bertolla I have made some enhancements to the DC of Nicola. Can you please check why the DC is now not storing any data in the DB anymore? Eventually we can immediately test the DC with the production environment. We just need to change these configurations: src/main/resources/META-INF/spring/application.properties

[2020-01-14 17:08] rcavaliere commented on #127
@bertolla can you please provide me the static IP addresses with which we will call the data provider? Like the Municipality of BZ, A22 will set a rule so to allow requests to their end-point only from this IP address. Does the IP address change from testing to production environment? In case please give me both.

[2020-01-15 08:01] bertolla commented on #127
After making the changes have you also deployed the application? If not, than you changes won't affect the dc

[2020-01-15 08:03] rcavaliere commented on #127
Just made a commit in the current development branch, isn't this enough?

[2020-01-15 11:51] rcavaliere commented on #145
@edp-progetti You are right, we must consider an additional type for the Bicyclestation (better, BikeSharingStation, using the naming of the station types we have). I have uploaded a new version of the specification containing this modification. I also noticed and integrated the different typing of the types name, which is OK - thanks for this!

[2020-01-15 11:51] #145 closed

[2020-01-15 13:16] bertolla commented on #127
Hi Roberto, your changes make the thests fail. See https://jenkins.testingmachine.eu/job/it.bz.opendatahub.bigdataplatform/job/data-collectors/job/environment-a22.test-archive/

[2020-01-16 06:54] rcavaliere commented on #127
Can we check this in the short meeting I have proposed to you tomorrow, also to discuss the bike sharing stuff?

[2020-01-22 13:21] rcavaliere commented on #146
@bertolla, as already shared also with EDP, I don't see data stored in the measurement table for the stationtype = Bicyclestationbay or stationtype = Bicycle. Can you please share some log files to understand why is happening this?

[2020-01-22 13:35] rcavaliere commented on #127
@bertolla the DC seems to works fine now. There are some calculations that do not work as expected, I take the task to review the elaboration engine in the code.

[2020-02-01 05:53] rcavaliere commented on #127
@bertolla I think that the elaborations still do not work properly. Can we sit together and debug a little bit this component? I will make a proposal of meeting

[2020-02-01 07:16] rcavaliere commented on #104
@bertolla as agreed during the meeting this Monday with SASA and Daniel, please coordinate the merge of the two contributions from Daniel and SASA, so that we can put in test mode a consolidate version of realtimebus. Please also provide SASA all access credentials so that they can test the connection with their new APP.

[2020-02-13 15:01] bertolla commented on #146
measurementstring contains that data

[2020-02-14 16:47] rcavaliere commented on #146
yes, you are right, that's what the point... everything works fine, we can put the DC in production!

[2020-02-14 16:47] #146 closed

[2020-02-18 16:54] rcavaliere commented on #127
Waiting for A22 production end-point to complete testing activities (we need real data...)

[2020-02-20 17:28] #103 closed

[2020-02-24 12:16] rcavaliere commented on #127
Important big news. Door was open. The IP address to be called is http://213.21.183.12:61616
@bertolla can you adapt the data collector, so we can check if all works?

[2020-02-26 07:32] bertolla commented on #127
@rcavaliere I put it on production but it does not work
[code]

[2020-02-26 07:42] rcavaliere commented on #127
@bertolla can you please debug it a little bit?

[2020-02-26 08:05] bertolla commented on #127
From the logging I would say that the mqtt client fails when trying to read the data stream but to understand more I would need to know about the codebase. It's like finding a needle in a Haystack.
Furthermore we can only access from the one server ip, which means to debug I would need to setup vpn and so on.

[2020-02-26 08:11] rcavaliere commented on #127
so, how you suggest to proceed? I would avoid to involve Nicola...

[2020-02-26 14:11] bertolla commented on #127
We either find somebody else who can handle this(like chris) or invest in it our time. Not really in my interest :unamused:, since I barley know anything about mqtt and kinda lost trust in the endpoints.

[2020-02-26 14:48] rcavaliere commented on #127
@bertolla thanks for the feedback, please consider the following:

- we are expected to put this in component in production in **days**, not weeks / or months. Giving this task to other third parties is not suitable in this case;

- now we have the production end-point. This means that now we have something stable to work with; before we had to work with something that was in most cases down and d

[2020-02-27 08:03] bertolla commented on #127
Sure, but don't forget. If I start debugging this problem on the production environment all data we consume will not be available anymore on the mwtt server so it will be lost. If the system works in the test environment and not in the production environement it mean something got changed in the prod env which our client can't handle.

[2020-02-27 08:28] rcavaliere commented on #127
Yes sure, this is something that we have to pay to complete the work. But such data are available for offline analysis, so don't care about this.

[2020-02-27 09:31] bertolla commented on #127
By checking online I found this:

https://stackoverflow.com/questions/19813101/java-io-eofexception-with-paho

It's our case. I can try change the id but I don't know if server side they also need to do any changes

[2020-02-27 10:23] bertolla commented on #127
@rcavaliere  As you can see in the issue it says that this problem can have multiple reasons for giving the error message and some are client related but some also server related. In any case the server is closing the socket after a certain time. I'm trying the client related issues right now but with no success till now.

One thing which I noticed, which can also be a big factor. I the document t

[2020-02-27 11:47] rcavaliere commented on #127
OK, let's ask algorab for some clarifications, it could be that they have the queue full of data and this could be the reason for this connection problem.

[2020-02-28 09:42] bertolla commented on #127
I tried to install a command line mqtt client on the server and connect to the given endpoint. Even there I get `Timeout while waiting for CONNACK`, which confirms what happens in the datacollector. Is the information that we have in that document all we got or is there more information available?

[2020-02-29 05:26] rcavaliere commented on #104
@bertolla please test the new pull requests that have been made available by Daniel R.

[2020-02-29 05:27] rcavaliere commented on #127
@bertolla please check this with algorab. Nicola Pedot can be contacted if needed.

[2020-02-29 05:45] rcavaliere opened #149 "As a user I would like to see the real-time on-spot parking data of the city of Bolzano"
Done by EDP [in 1 sprint]. The task is to create the CI pipeline in the ODH environment by integrating the pull request that is made available by the supplier.

[2020-03-01 12:39] rcavaliere opened #150 "As a user I would like to see the real-time data of the A22 travel times and RWIS measurement stations"
Done by Chris Mair and Davide Montesin [1 sprint]

[2020-03-02 13:34] bertolla commented on #104
Integrated latest pull-requests and after doing some fixing disucussed in noi-techpark/realtimebus-v2/issues/10 noi-techpark/realtimebus-v2/issues/9 it finally works.You can try it by using the webcomponent https://webcomponents.opendatahub.bz.it/webcomponent/7620f04d-ed08-4770-bbda-dfe959ae078e or doing requests on the endpoint directly.
https://realtimebusv2.sasabus.org/v2/docs

[2020-03-04 16:28] rcavaliere commented on #104
@bertolla @ohnewein
Finally! The web-component still suffers of some unproper mapping of the routes. Try the full screen version here:

[](data:text/html;charset:utf8,<html><head><title>MyWebComponent</title></head><body><smart-mobility endpoint="https://realtimebusv2.sasabus.org" routes="^.*$"></smart-mobility><script src="https://cdn.webcomponents.opendatahub.bz.it/dist/7620f04d-ed08-4770-bbda-d

[2020-03-10 13:24] bertolla commented on #149
The app is up and running on our testenvironment. Station and datatypes can be found in the test db.
Records can be pushed through a post to:
https://tomcatsec.testingmachine.eu/dc-onstreet-parking-bz/json/pushRecords

To make it work on the test environment with our newest bdp-core and make it buildable in a docker env I had to make these changes: 1c7cd91cd96319b98897357542742c4b347fbb5e 974a7811

[2020-03-11 07:00] rcavaliere commented on #149
@bertolla, wonderful. I will provide the URL to the data provider and see if the data flow works properly.

[2020-03-11 10:01] bertolla commented on #150
Which pull-requests?

[2020-03-11 10:02] rcavaliere commented on #150
Chris has completed the work, David not now. He is waiting for your inputs (see mail thread).

[2020-03-11 12:24] bertolla commented on #150
Ok I answered to Davide. I think the problem is that the specifications he is referring to `3_SpecificheIntegrazione_A22_TravelTimes.pdf`(do I have this file?) are referencing the database schema, which somebody who writes a datacollector does not need to know. e.g. : the field `provenance_id` is a field which will get automatically filled when the developer define the provenance on the datacollec

[2020-03-14 05:10] rcavaliere commented on #149
Data provider must reconfigure the end-point of the push service, otherwise we don't see data entering. Request sent on March 11st.

[2020-03-14 06:00] rcavaliere commented on #104
For the testing, I would like to wait that the last paths are corrected by Daniel. There is also a further improvement regarding the interpolation of real-time bus positions made by SASA to be integrated. Let's wait this week before taking other actions.

[2020-03-20 06:14] rcavaliere commented on #149
Still no feedback here, I guess to the Coronavirus emergency. I will make another try, otherwise I am afraid that we have to put in the backlog (or leave it for a while in the testing lane...)

[2020-03-20 06:40] rcavaliere commented on #104
A week has passed without any action. Daniel has confirmed he is working on this... let's push him with the invoicing incentive :-)

[2020-03-24 11:07] Piiit commented on #149
@rcavaliere @bertolla Please provide some information on how to test this... Thank you

[2020-03-24 13:34] rcavaliere commented on #149
I don't know why I assigned you... it's my task, currently it's blocked.

[2020-03-24 13:43] Piiit commented on #149
Aha... ok. Thx

[2020-03-26 13:53] ohnewein opened #153 "App Developer want API access to Covid-19 data"
Can we answer to the Data Access request in this tweet?

https://twitter.com/bmgnrs/status/1242802473791881216

[2020-03-26 17:21] bertolla commented on #153
Data is now in bdp and can be used through v2.
Example: https://mobility.api.opendatahub.bz.it/v2/api/flat/Covid-19/*?limit=200&offset=0&shownull=false&distinct=true (Not a history call just latest values)
To see where are cases of Corona or/and people in isolation it can already be seen on webcomponent:
[code]

[2020-03-26 21:51] ohnewein commented on #153
I have tested the web component map. It looks great!

[2020-03-28 05:43] rcavaliere commented on #149
@bertolla, the data provider should now send the data in push mode to the testing environment. I see in the test DB the metadata data (tables station / metadata) but no realtimevalues. Could you please check if we are receiving data correctly?

[2020-03-28 07:20] rcavaliere commented on #104
Still missing:
-  [ ] paths fixing
-  [ ] realtime positions interpolation (improvement SASA, instructions to be given)

[2020-04-02 14:55] bertolla commented on #127
I tried to understand for a while now and finally reached a conclusion. While I deleted db for bluetoothelaboration usecase this dc was still running and inserting data in the db and it caused a conflict in station and types. Going to fix this now and it should be ready for testing.

[2020-04-03 07:27] niettadesantis commented on #80
Don't seem to be priority of IDM at this moment. Will eventually create a new issue if it's needed.

[2020-04-03 07:27] #80 closed

[2020-04-03 08:05] #153 closed

[2020-04-06 08:03] bertolla commented on #149
@rcavaliere
the app is now deployed on production and has already synched stations and types but we need to specify a production endpoint for the realtime data and communicate it to the data provider.
I thought about something like:
https://parking.opendatahub.bz.it/dc-onstreet-parking-bz/json/pushRecords
But maybe you have a better idea for a subdomatin?
Cheers,
Patrick

[2020-04-06 08:10] rcavaliere commented on #149
@bertolla for me it is fine. Let me know if it is OK for you, I will communicate it to the data provider

[2020-04-06 09:08] bertolla commented on #149
ok this should be working now

[2020-04-06 12:06] rcavaliere commented on #149
Data Provider is now sending data to the production end point. @bertolla can you confirm me that data is entering in the production environment?

[2020-04-06 13:32] bertolla commented on #149
Yes you can check with this query
[code]

[2020-04-08 10:33] rcavaliere commented on #150
@bertolla Davide has made a PR, please let's integrate it in the testing environment so that I can test it.

[2020-04-09 15:52] bertolla commented on #150
To do that I need you to send me this information through a encrypted mail.

url=
user=
password=

[2020-04-09 18:26] rcavaliere commented on #150
Done

[2020-04-10 11:43] bertolla commented on #150
@rcavaliere
just to be sure. We have 4 a22 user
BNL for traffic connector
BN2 for vms datacollector
BN3 now for roadweather
Can I still use BN1 for traveltimes? I'm not sure.
At the same time I must say it's kind of pathetic that we need 4 users for the same service :-1: :
This also means there is nothing left to test with.

[2020-04-10 11:46] rcavaliere commented on #150
Correct, I already told you to use BN1 for travel times.
Don't worry about credentials, we have cut contacts with data providers, if we need more users, no problem for having more! If it is the best system to use I don't know... but we have to work with!

[2020-04-10 11:48] bertolla commented on #150
It was more because I think Chris used BN1 often for testing but I wasn't sure about it.

[2020-04-10 12:14] bertolla commented on #150
both datacollectors are deployed in test env. Check data in testdb please.

[2020-04-10 12:53] bertolla commented on #104
pulled in pull request and aplied to test server

[2020-04-15 20:28] rcavaliere commented on #150
@bertolla testing completed, everything works very well. Just a detail, please set in the config file when you go on production the stationtype "LinkStation", not "Linkstation" as now configured (otherwise we have two different station types in the DB)...

[2020-04-15 20:30] #149 closed

[2020-04-17 07:50] #104 closed

[2020-05-28 16:27] bertolla commented on #127
@rcavaliere
After trying several things I noticed a few things that do not fit:
- shouldn't it be in real time? It seems like it's 2 hours behind. Does the mqtt sever provide time values in utc or local time?
- is the mqtt server providing values in chronological order or just random?
- is it ok if I do push data every minute instead of every 5 minutes or is it going to afflict elaborations?

[2020-05-28 19:56] rcavaliere commented on #127
@bertolla:
Data should be in UTC time. What is the current convention?
For the other two points, let me first ask algorab...

[2020-06-04 13:09] bertolla commented on #127
Numberformat Exception on linearization stops complete datapush event

[2020-06-04 13:40] bertolla commented on #127
In cases where elaboratedValue is 0 the delinerization of this raw data returns infinite as Value. Since the logic cannot handle infinite values it throws a Numberformat exception and stops all further proecessing. No data is send to writer.
There are 2 things that need to be fixed:
- the linearization function which does not handle 0 values
- how the case should be handled and how processing shou

[2020-06-04 13:52] bertolla commented on #127
Makes sense since some of this function do a logarithm of numbers. And log 0 is not defined I guess.
I know nothing about this functions and do not wanna change existing logic.
https://github.com/noi-techpark/bdp-commons/blob/784990121eb9b3b41d1e2e192f2724ef5d77c507/data-collectors/environment-a22/src/main/java/it/bz/idm/bdp/augeg4/fun/delinearize/MeasurementDelinearizer.java#L35

[2020-06-04 19:46] rcavaliere commented on #127
@bertolla ok, good to hear that this could be the issue.
First of all, let me explain what the Data Collector should do:

1. - the algorab broker sends the value "y".
2. - the Data Collector" computes the raw measurement (x = f(y)), that we call "x" through one of different linearization functions (in the API should be identified by the identifier linFuncId)
3. - the Data Collector computes "z" th

[2020-06-05 06:50] bertolla commented on #127
I think there are probably more of such cases and they should be all handled by dc logic.
In this specific case it would be more like **value > 0** if I'm not mistaken.
Each function should not allow undoable math and skip all that values

[2020-06-05 07:40] bertolla commented on #127
I still need a rule for this function `Math.exp((y - b) / a)`. Till now I have `a!=0`, but I noticed that if the number between braces is high enough the result is infinite, so this could also be the reason for failure.

[2020-06-05 08:07] rcavaliere commented on #127
@bertolla, this is correct, put value > 0 (log(x) with x < 0 is not possible)
The coefficients a, b etc. should not be zero, and be returned by the API. You could also put something like if Math.exp((y - b) / a) is > Threshold (e.g. 10.000) then do not consider valid this computation

[2020-06-05 11:33] bertolla commented on #127
OK I fixed this case by not considering values which are null or infinite.
Another thing I noticed in the code that every time push data was called, the buffer containing messages got flushed and close to no data made it past. I think there are even more problems.

[2020-06-09 16:12] sseppi opened #156 "As manager of the Centro Trevi and the DRIN I want events that I organize to be published as Open Data in the Open data hub."
The task list are:
- [x] create a google spreadsheet for the event information
- [x] implement the data collector to insert the data in the Open Data Hub
- [x] implement a web service that distributes the information

[2020-06-09 16:19] sseppi opened #157 "As a manager of Centro Trevi I want the daily suggestions to be published as open data through the Open Data Hub in order to maximize their visibility"
The task list are:
- [x] create a google spreadsheet for the event information
- [x] ask if the suggestion has to be associated to a specific location or not
- [ ] implement the data collector that stores the data in the Open Data Hub
- [ ] implement a web service that distributes the information

[2020-06-12 04:50] rcavaliere commented on #127
@bertolla I think that the probably is related to this: we have a lot of stations that do not have any linearization function assigned (and associated coefficients, see screenshots below). This means, the MQTT broker does not even foresee these attributes in the API! I think that the DC is not working fine in this use case. My personal opinion is to fix this also with the support of BrennerLEC pro

[2020-06-18 07:43] sseppi opened #171 "As a manager of Centro Trevi I want the location (places and rooms) of Centro Trevi and DRIN to be published as open data through the Open Data Hub in order to maximize their visibility"

[2020-06-26 04:49] rcavaliere commented on #127
@bertolla technically the DC is now working as expected. We have some issues with the processed values, but it is not a DC problem but a computation problem that I have to fix with UNITN. Let's close this issue and if we see then further bugs / adaptation needs we will open new user stories.

[2020-06-26 04:49] #127 closed

[2020-07-29 12:54] bertolla commented on #171
The moment in which the spreadsheet is changed, data should be visible on https://mobility.api.opendatahub.testingmachine.eu/flat/Culture/*/?limit=-1&offset=0&select=tmetadata&where=sactive.eq.true&shownull=false&distinct=true and
https://mobility.api.opendatahub.testingmachine.eu/flat/Culture/?limit=-1&offset=0&select=tmetadata&where=sactive.eq.true&shownull=false&distinct=true

[2020-07-30 13:30] sseppi commented on #156
The moment in which the spreadsheet is changed, data should be visible on https://mobility.api.opendatahub.testingmachine.eu/flat/Culture/*/?limit=-1&offset=0&select=tmetadata&where=sactive.eq.true&shownull=false&distinct=true

[2020-08-04 09:53] RudiThoeni commented on #156
I see here 2 different data types with different structures.... Is it possible to change the query in order to get only events?

[2020-08-04 13:25] RudiThoeni commented on #156
wrong issue continued here https://github.com/noi-techpark/odh-alpinebits-destination-data-server/issues/14

[2020-08-10 09:10] sseppi opened #181 "maps.noi.bz.it backend: problem with add/remove column in backend spreadsheet"
If I add or remove a column in a spreadsheet of the back-end of maps.noi.bz.it the API returns the inserted data in the wrong position. For example if I remove the blank column in the "Selettori Group" sheet the following call:

https://mobility.api.opendatahub.bz.it/v2/flat/NOI-Place/*/latest?limit=-1&select=tmetadata,mvalue&shownull=true&distinct=true

retrieves the data in the wrong position (e

[2020-08-19 07:54] bertolla commented on #181
This is a bug i discovered recently while developing for centro trevi. On testing it should be fixed for ct and as soon as I have my worklaptop again I will also deploy the changes for maps

[2020-08-20 09:00] sseppi opened #182 "As a developer I want to authenticate to Office365 API in order to get the data from the Office365 spreadsheet."

[2020-08-20 09:02] sseppi opened #183 "As a developer I want to fetch an Excel365 spreadsheet to access the data to convert."

[2020-08-20 09:05] sseppi opened #184 "As a developer I want to access the data of single tabs/sheet of the spreadsheet in order differentiate between the different datatypes stored in the spreadsheet."

[2020-08-20 09:07] sseppi opened #185 "As a developer I want to parse all data stored in the spreadsheet in order to prepare it for the conversion in the Open data Hub format."

[2020-08-20 09:18] sseppi opened #186 "As a developer I want to be notified every time there is a change in the sheet in order to start the import of the data only when it is needed."

[2020-08-20 12:14] rcavaliere opened #187 "As an air quality expert I would like to see the elaborations associated to the measurements some air quality innovative sensors improved with new calibration curves (without ozone)"

[2020-08-20 12:19] rcavaliere commented on #187
For sensors AQ6, AQ7, AQ9, AQ10 the ozone sensor is not working anymore. UNITN has found new calibration curves for the computation of the processed elaborations of NO and NO2. The DC has to be fixed so that for the indicated sensors NO and NO2 has to be processed according to this different computations.
[200724_calibrazioneAQ_noO3.xlsx](https://github.com/noi-techpark/bdp-commons/files/5102922/2

[2020-08-20 12:24] rcavaliere commented on #187
@bertolla I assume that the most efficient way is to change the mapping table defined here: https://github.com/noi-techpark/bdp-commons/blob/master/data-collectors/environment-a22/src/main/resources/mappings/processorParameters.csv without changing anything in the code. The new calibration curves in fact substitute the previous ones. If you agree on this, I can do this task.

[2020-08-21 08:39] ohnewein commented on #157
original issue, now there are smaller issues created from this one.

[2020-08-21 08:39] #157 closed

[2020-08-24 12:56] rcavaliere opened #188 "As an air quality expert I would like that the elaborations carried out on the A22 innovative air quality data are done also on a hourly basis, so that they are more robust and usable by 3rd party applications"
Implementation logic should be follow:
- [x] for every pollutant to be elaborated (e.g. NO-Alphasense, NO2-Alphasense, O3, PM10), compute on a hourly basis (e.g. at 9:00, 10:00, etc.) the average of all measurements collected during the previous hours (e.g. 8:00 - 8:59, 9:00 - 9:59, etc.)
- [x] once the hourly "raw" measurements are computed, compute also the associated elaboration, by using the s

[2020-08-28 16:16] rcavaliere opened #189 "As an air quality expert I would like to change the elaboration coefficients associated to the NO and NO2 measurements collected by A22 air quality sensors"
Some boxes have troubles with some sensors, in particular the ozone one. In order to avoid that the elaborations computed are badly affected by this issue, new elaboration coefficients have been computed and need to be associated to certain boxes.

Task:
- [x] update elaboration coefficients according to the instructions received by UNITN

[2020-08-28 16:18] rcavaliere commented on #189
Change implemented, see https://github.com/noi-techpark/bdp-commons/commit/2b59e317097599a7e08b6169d2d407060652d0a9
@bertolla can you please import the PR?

[2020-09-04 05:33] rcavaliere commented on #187
@bertolla, please integrate this PR in order to implement this user story: https://github.com/noi-techpark/bdp-commons/commit/2b59e317097599a7e08b6169d2d407060652d0a9

[2020-09-04 05:34] #189 closed

[2020-09-04 08:07] rcavaliere commented on #188
This elaboration will be implemented externally (getting data from API and providing results to the writer -> the writer v2 will be used, and therefore this can be completed once the writer v2 is available for use)

[2020-09-14 08:30] bertolla opened #191 "As a developer I want to send the data to odh through the Java-client to store data in ODH"

[2020-09-16 05:25] rcavaliere commented on #188
@bertolla did you start with this implementation? I don't know why this fall at the end of the priority list... this would be one of the most important developments to be done in this sprint!

[2020-09-16 09:26] bertolla commented on #188
No, I haven't since we are still working on the dockerization of bdp. It won't be done in this sprint on production. Probably on testing.

[2020-09-18 08:35] sseppi commented on #188
Since @bertolla won't be able to finish this issue before to leave thisi issue will be blocked.

[2020-09-18 08:43] sseppi commented on #181
We need to finish the new dockerization before to publish this feature.

[2020-09-18 11:16] rcavaliere commented on #187
@bertolla did you complete the complete integration of this in our production environment?

[2020-09-18 12:53] bertolla commented on #187
No, as we discussed I first had to fix all the tests and see if it works, thats why we put it back to todo. I will do it now

[2020-09-22 14:20] sseppi commented on #171
@bertolla it seems tht the syncronization between the spreadsheet and the ninja API doen't work anymore.

[2020-09-22 14:22] #156 closed

[2020-10-06 07:34] bertolla commented on #187
@rcavaliere I deployed your changes the same day. Have you checked the values generated now?

[2020-10-06 12:28] bertolla commented on #181
@sseppi You can test if your changes correctly in our test environment
https://mobility.api.opendatahub.testingmachine.eu/v2/flat/NOI-Place/*/latest?limit=-1&select=tmetadata,mvalue&shownull=true&distinct=true

[2020-10-09 12:41] bertolla commented on #171
@sseppi Seems to work now. Test it with these 2 calls by changing the spreadsheet and check if it reflects the changes:
- https://mobility.api.opendatahub.testingmachine.eu/v2/flat/Culture/*/latest?limit=-1&select=tmetadata,mvalue&shownull=true&distinct=true
- https://mobility.api.opendatahub.testingmachine.eu/v2/flat/Culture/?where=sactive.eq.true&distinct=true

[2020-10-11 06:13] rcavaliere commented on #188
@bertolla can we give more priority to this user story? Can you at least start with this development next week?

[2020-10-12 16:49] sseppi commented on #171
@bertolla I've tested and the update is now working fine but I've seen that the import of dates and times seems not work properly.
It seems that the collector imports only the firt number of the date and/or time (eg. the date 01/01/2020 is imported as 01 and the time 16:00:00 is imported as 16). Is that right or do I miss something?

[2020-10-14 18:11] bertolla commented on #171
Si c'era un altro baco nel parsing di numeri, risolto e gia messo in produzione: https://mobility.api.opendatahub.bz.it/v2/flat/Culture/*/?limit=-1&offset=0&select=tmetadata&where=sactive.eq.true&shownull=false&distinct=true

[2020-10-15 10:14] sseppi commented on #171
OK! Now seems to work fine!
Thanks

[2020-10-16 07:32] #171 closed

[2020-10-16 07:54] #181 closed

[2020-10-27 11:27] rcavaliere commented on #187
I already tested this and seems to work now. I will ask the colleagues of the University of Trento to test further this

[2020-10-30 07:19] bertolla commented on #188
Data needs authentication and on this test env it's only available till 6/10
See here an example:
https://analytics.opendatahub.testingmachine.eu/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1601503200000,%22to%22:1601676000000%7D,%22graphs%22:%5B%7B%22category%22:%22Air%20Quality%22,%22station%22:%22AUGEG4_AIRQ01%22,%22station_name%22:%22103.7

[2020-10-30 09:44] #187 closed

[2020-11-06 12:55] rcavaliere commented on #188
I have mode some test verifications and everything seems reasonable to me. Let's go in production

[2020-11-06 13:07] bertolla commented on #188
Haven't applied the modifications yet which we talked in the last meeting so please wait for now

[2020-11-17 16:44] #188 closed

[2020-12-11 09:54] rcavaliere opened #222 "As a developer I want to be able to write a odh collector with the new authentication server using Bikesharing data to make it more easy for future development"

[2020-12-21 14:38] #222 closed

[2020-12-22 15:50] bertolla opened #223 "Dockerisation of airquality-appabz throws exceptions"
I adapted the whole configuration to Docker (see pipelines branch) and ones deployed the app starts correctly. When the elaboration is triggered, files are being downloaded in tmp folders, but the unzipping fails(in this case mapping.zip).
@Piiit Is this a known issue which needed manual intervention?
[code]

[2020-12-22 16:47] Piiit commented on #223
@bertolla Never seen this issue before, it seems that inside docker the files/paths may be different... Need to check before I can tell you more. Until when do you need it?

[2020-12-23 11:00] bertolla commented on #223
In Docker the Filestructure is being created. The unzipping fails

[2021-01-03 06:50] rcavaliere opened #224 "As a meteo expert I would like to verify if the ODH is at present providing all the open data measurements provided by the Province of Bolzano"
We probably have an issue with the ingestion of the open data measurements of the Province of Bolzano.

End-point used (for ingestion in the ODH):
http://dati.retecivica.bz.it/services/meteo/v1/stations
http://dati.retecivica.bz.it/services/meteo/v1/sensors

Data provided by the ODH:
https://analytics.opendatahub.bz.it/

It seems that are present we are currently getting only the data of the hydro

[2021-01-07 11:59] bertolla commented on #224
Data collector stopped on 6/12. I restarted the collector and it's currently importing all historical data

[2021-01-07 14:49] bertolla commented on #224
I investigated further and I found out that v2 was just exposing data where the available flag was set and therefore you could not see any data of those stations. The `available` flag was just a flag in the past for bluetooth boxes. Why is it now used for all stations to decide if to show or not? I think this is wrong and the available flag is just there for legacy reasons. We probably can remove

[2021-01-07 15:04] rcavaliere commented on #224
@bertolla I thought the logic was a little bit different, data should be available by default and eventually set as available = FALSE just for exceptions. Did you already changed this logic for the meteo data of the Province?

[2021-01-08 07:29] bertolla commented on #224
The problem is that mobility v2 is not showing stations where the flag is not set. Most datacollector **do not** set this flag and therefore they are not shown. Even if I set them the datacollector will unset them again on the next push.

[2021-01-13 19:23] Piiit commented on #224
@bertolla @rcavaliere Should I therefore revert what we have done for the available flag, or just consider NULL values as TRUE?

[2021-01-13 21:20] rcavaliere commented on #224
@Piiit with @bertolla we were considering the possibility to delete this coloumn, but probably this could have negative impacts somewhere... probably the best way would be to set the rule if NULL -> then consider as TRUE, so that we don't publish something only in the remote case we have explicitly set this flag to FALSE

[2021-01-14 16:15] rcavaliere opened #226 "As an ODH user I would like to get the bike rental data of Papin Sport"
DC is developed by Patrick Pucher on behalf of Papin.

The user story cover:
- [x] the integration of the DC in testing environment
- [ ] the verification of the correct functioning, documentation, proper data storage in the DB
- [ ] the release in the production environment

[2021-01-18 07:50] bertolla commented on #226
@rcavaliere The documentation says:`the service endpoints (credentials must be provided setting the parameter 'app_auth_token');`
Is there a token I need?

[2021-01-18 08:00] bertolla commented on #224
@Piiit Can you change this in this sprint?

[2021-01-18 08:37] rcavaliere commented on #226
Yes, I forward this via mail

[2021-01-19 13:17] bertolla commented on #226
datacollector is now running but it only executes once a day at 1

[2021-01-19 21:13] rcavaliere commented on #226
@bertolla thanks! Can't we change the scheduler, so that the data are at least updated once every hour?

[2021-01-22 07:45] rcavaliere opened #229 "As an end-user I would like to get fresh travel A22 times data from the Open Data Hub"
The Data Collector was blocked since the source has started to send '0' for some coordinates, which throws an exception and blocks the Data Collector

To do:
- [x] investigate problem by @bertolla
- [x] document problem by @bertolla
- [x] share information with Catch & Solve by @rcavaliere
- [x] increase data quality with A22 by @rcavaliere
- [x] solve issue by Catch & Solve (code should be robust

[2021-01-22 09:36] Piiit commented on #224
We decided to change it on the DB to just have TRUE or FALSE and then set a not null constraint

[2021-01-26 08:01] bertolla commented on #229
I sent you this link where the exception is thrown:
https://github.com/noi-techpark/bdp-commons/blob/360020c3f26d4bc645853dda73dfc057e039443f/data-collectors/traveltimes-a22/src/main/java/it/bz/noi/a22/traveltimes/Connector.java#L220

and the issue is "When parsing a coordinate which has 0 as value to a Double there will be an Exception since 0 is no valid double"

[2021-01-27 10:45] Piiit commented on #224
@bertolla @rcavaliere Done on testing with

[code]

Should we go for production now?

[2021-01-27 10:46] rcavaliere commented on #224
For me OK

[2021-01-27 10:55] Piiit commented on #224
Done, can we close it now?

[2021-01-27 10:57] #224 closed

[2021-02-04 20:40] #229 closed

[2021-02-18 21:43] rcavaliere commented on #226
@bertolla please integrate the PR https://github.com/noi-techpark/bdp-commons/pull/233 this should solve the last issues

[2021-02-20 05:34] rcavaliere opened #235 "As a meteo expert I would like to see the correct measurement unit associated to type "wind speed" related to the meteorological stations provided by the Province of Bolzano as open data"
Issue described here: https://issues.opendatahub.bz.it/Ticket/Display.html?id=1781

[2021-02-22 10:16] bertolla commented on #226
Seems to be working now. A thing I would like to change, and this is a thing I can do, is to rename stationcodes in "origin+stationcode" since they are not really unique.

[2021-02-22 10:17] rcavaliere commented on #226
Ok, change the stationcode.
Can you set the DC so that we ingest data every 10 minutes?

[2021-02-22 14:34] bertolla commented on #226
You can test using ninja: https://mobility.api.opendatahub.testingmachine.eu/v2/flat/BikesharingStation/*/latest?limit=-1&where=sorigin.eq.BIKE_SHARING_PAPIN,sactive.eq.true
or just analytics: https://analytics.opendatahub.testingmachine.eu/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1613257200000,%22to%22:1614034800000%7D,%22graphs%22:%5B%7B%

[2021-02-24 19:31] rcavaliere commented on #226
Ok, tested, works fine in my opinion. Let's go in production!

[2021-02-26 15:44] bertolla commented on #226
I adapted the production pipeline and deployed it. I also deployed the new opendatarules for bikesharing. Cheers, Patrick

[2021-02-26 15:56] rcavaliere commented on #226
Thanks!

[2021-02-26 15:56] #226 closed

[2021-02-27 05:16] rcavaliere opened #236 "As a traffic analyst I would like to have always real-time traffic and air quality data related to the A22"
CISMA is putting its models developed in BrennerLEC in production, but are complaining with the fact that the data is not always available in real-time. Currently the DC related to the innovative AQ sensors (MQTT) seems to be blocked. This user story should cover:
- [x] the quick solution of the issue with the innovative AQ sensors DC
- [x] a review of the logics so to ensure that we always have t

[2021-03-01 14:28] bertolla commented on #235
Which windspeed? Currently we have this:
[code]
I guess `wind10m_speed` is causing the problem and this is data coming from **meteotrentino**

[2021-03-01 14:36] rcavaliere commented on #235
It's "wind-speed", should be m/s

[2021-03-02 08:32] bertolla commented on #235
Are you sure? I mean, it's right for data coming from SIAG but maybe not for the one coming from FAMAS-traffic.

[2021-03-02 08:46] rcavaliere commented on #235
Ok please check if the data collectors are using the same data type. If yes, we should create or two different data types (one for measurement unit) or convert the data in the correct measurement unit before integrating it in the ODH

[2021-03-02 08:57] bertolla commented on #235
The use same unit but something is not working correctly when syncing datatypes. I'm investigating right now

[2021-03-02 12:55] bertolla commented on #236
My first impression of the problem is that the data collector is working correctly. The mqtt client embeded in the dc is the problem since after days of correct functioning it disconnects and does not reconnect. It might be a configuration issue or also a bug of the client itself. I will proceed by updating to the newest version of the tool and if it's still causing the same issue I will search fo

[2021-03-02 14:18] bertolla commented on #236
Redeployed the app just now, hoping that the auto-reconnect feature works:
https://stackoverflow.com/questions/33735090/java-eclipse-paho-implementation-auto-reconnect

[2021-03-02 20:42] rcavaliere commented on #236
I am not sure that is still working as expected. See the attached screenshot, if I compare Bluetooth data with traffic and air quality data related to A22... I think we have to a deeper look at the update logics in the correspondent Data Collector. Data should be updated with delays of minutes, not hours!
![Screenshot from 2021-03-02 21-39-44](https://user-images.githubusercontent.com/9825179/1097

[2021-03-02 20:54] rcavaliere commented on #235
Sure that is OK?
See this example...
![Screenshot from 2021-03-02 21-54-07](https://user-images.githubusercontent.com/9825179/109713770-e8c35a80-7ba1-11eb-89dd-52acef4c52b7.png)

[2021-03-03 08:49] bertolla commented on #236
Oh! That's my bad. I made a miss configuration with the collector. It's starting right now. Should be working fine soon now

[2021-03-03 09:01] bertolla commented on #235
[code]

[2021-03-03 09:05] bertolla commented on #235
I noticed a thing now:
[code]

[2021-03-03 09:42] bertolla commented on #235
I think I got a hunch. Datatype syncing is happening every hour also in traffic-bz which means that the second which calls overwrites the first. Going deeper I noticed that the values being saved are quiet similar:
[code]
Which means either the province is providing wrong units or FAMAS is.

[2021-03-03 10:16] rcavaliere commented on #235
It's much more probable that FAMAS is wrong here...

[2021-03-03 13:44] bertolla commented on #235
For now it should be working like we discuessed

[2021-03-03 20:42] rcavaliere commented on #236
Air quality sensors yes, traffic data can still be improved. I guess here we have some configurations in the elaborations done by Davide and Chris that have to be improved.
![Screenshot from 2021-03-03 21-40-11](https://user-images.githubusercontent.com/9825179/109869538-4b335e00-7c69-11eb-8780-6458eb765728.png)

[2021-03-03 20:56] #235 closed

[2021-03-04 10:18] rcavaliere opened #263 "EPIC: as traffic manager I would like to integrate A22 "traffic events" in the Open Data Hub"
This user story deals with the integration of the A22 traffic events in the ODH. The implementation is implemented by 1006.org and Catch&Solve. As far as the ODH data model is concerned, my suggestion is to consider an "event" like a station (since it is characterized by coordinates) and to use the metadata to characterize is. In this case we could have the situation that this type of stations doe

[2021-03-09 12:33] rcavaliere opened #239 "As a meteo expert I would like to receive back precipitation data related to the weather stations of the Province of Bolzano"
See precipitation data types
![Screenshot from 2021-03-09 13-34-29](https://user-images.githubusercontent.com/9825179/110471322-4bee4900-80dc-11eb-8c66-2d7c14ed2ba2.png)

[2021-03-09 13:13] bertolla commented on #239
This is the endpoint we call:
http://dati.retecivica.bz.it/services/meteo/v1/timeseries

[2021-03-11 11:14] bertolla commented on #239
The commit did not fix the problem, but after a lot of grinding I found out that the period is wrong. In the datacollector the period is hardcoded to 600 for every datatype. Precipitation should be 300. Is the webservice providing this information so we could implement it dynamically?

[2021-03-11 12:25] #239 closed

[2021-03-17 15:21] bertolla commented on #236
I've created a separated branch to test different mqtt configurations. Right now it's working correctly, but a lot of these settings were missing or completely wrong. I just ca do that wit trial and error right now, since logs don't give me lots of information.

[2021-03-19 09:10] bertolla opened #242 "As a datacollector developer I always want to have a dynamic period information where it is possible, to avoid future missing data."
- [ ] find datacollectors which only use static `periods`, since webservice is not providing the information
- [ ] implement a business logic which calculates periods based on the data provided

[2021-03-26 16:15] bertolla opened #243 "Parking Merano not working anymore"
08.04.2021:
- [x] Patrick O. asks Michele Tais

I noticed that parking merano is not working anymore because they blocked access to the server through firewall if the request comes outside of italy I guess. I can access from home but not from Ireland. Can we ask why or do we need to migrate everything to Milan because of Meran :smile:

[2021-03-28 06:06] rcavaliere opened #244 "As a traffic analyst I would like to have also air quality measurements taken by the A22 innovative sensors averaged on 60 minutes"
Elaboration was already implemented, but in relation to bug fix related to the issue #236 it is likely that this elaboration was corrupted or disabled.

[2021-03-29 06:52] bertolla commented on #244
Who is calculating this averages? Is it a different dc? Can you point to the dc which is handling this task?

[2021-03-29 06:54] bertolla opened #245 "Roadweather a22 station fail because of authentication problems."
Seems like since a while authentication fails with a22. Maybe Davide can give us insights why.
[code]

[2021-03-29 07:17] rcavaliere commented on #244
I think it is the same DC, can you please check?

[2021-03-29 07:48] bertolla commented on #244
It's not the same. It's a java application created to execute this task. See https://github.com/noi-techpark/bdp-elaborations/tree/master/airquality-elaborations

[2021-03-29 15:11] bertolla commented on #244
I updated all dependencies and redeployed the application. Seems to work now. Can you confirm?

[2021-03-29 20:57] rcavaliere commented on #244
Yes, seems to work! Let's leave this user story in testing for a while so to see the behavior for a couple of days

[2021-03-29 21:00] rcavaliere commented on #236
@bertolla currently the only sensor active is AQ3 since the other one are under calibration. This will last a couple of weeks and then the sensors will be installed again. I see the AQ3 sensor data as expected, so it seems now that the collector is stable in the real-time data flow. Let's leave this user story open in testing for a couple of additional days before to close it.

[2021-04-02 10:17] bertolla commented on #243
@rcavaliere @ohnewein
The API address we access is 84.18.132.129 on port 80.
The whole endpoint http://84.18.132.129/trafficstudiorestwebservice/getParkingAreasSituation
You should be able to use it but from Ireland it is not reachable.
[code]

[2021-04-06 20:05] rcavaliere commented on #244
@bertolla can we improve the logic so to have the latest 60-minutes averages fast real-time? E.g. make the computation soon after the 00:00

[2021-04-06 20:07] rcavaliere commented on #236
@bertolla it can be that we have a new problem with the MQTT connector? I don't see data since this morning... see screenshot attached
![Screenshot from 2021-04-06 22-06-06](https://user-images.githubusercontent.com/9825179/113772026-6db30e00-9724-11eb-85af-dff412f0ad5a.png)

[2021-04-08 06:36] rcavaliere opened #247 "As a mobility expert I would like that the on-street parking data are online again"
There was an issue at the source level, which is now solved.
The provider (Axians) says that now they get from the ODH a HTTP 503 error.  The user story deals with the solution of the issue

[2021-04-08 10:46] bertolla commented on #236
please post the permalink not just the image

[2021-04-08 10:51] bertolla commented on #236
@rcavaliere the data is here, it's just that your time range is not including today since default time for dates here is always 00:00:00

[2021-04-09 11:52] #247 closed

[2021-04-16 05:09] #243 closed

[2021-04-16 05:36] rcavaliere opened #248 "EPIC: as traffic manager I would like to integrate A22 parking data in the Open Data Hub"
This user story deals with the integration of the parking data traffic events in the ODH. The implementation is implemented by 1006.org and Catch&Solve.

Tasks covered by this epic:

- [x] Implementation of the connector to the A22 interface (by 1006.org)
- [x] specification of the adapter with the ODH data model (by @rcavaliere)
- [x] implementation of the adapter to the ODH (by Catch&Solve)
- [x

[2021-04-16 06:50] rcavaliere opened #249 "EPIC: as traffic manager I would like to integrate the bike counter dataset of the Municipality of Bolzano"
The  Municipality of Bolzano has given a contract to Famas System to implement an API for sharing with the Open Data Hub the bike counter data collected through several sensors on the bike lanes in the city.
The access to the data is similar to the traffic data provided by the Municipality of Bolzano, we should however call port 5002.
Tasks to do:
- [x] test the connection (by @bertolla)
- [x] spe

[2021-04-18 07:03] #244 closed

[2021-04-19 06:37] bertolla commented on #244
This is not yet working as expected. Data is not always up to date and some types/stations are not being calculated.
This is due to long intervals of no data and insufficient data (we have set a minimum of 30 datapoints to do average calculations).

[2021-04-19 11:45] bertolla commented on #236
For the traffic dc the problem lies with this query which takes a long time:
https://github.com/noi-techpark/bdp-commons/blob/3abe59e51111c8e022de7e5f85d11f475a0fa0e3/data-collectors/traffic-a22/a22elaborations/src/main/resources/it/bz/noi/a22elaborations/read-all-stations.sql

[2021-04-20 11:36] rcavaliere commented on #249
@bertolla here some indications for the mapping with ODH core
[210420_SpecificheIntegrationeODH.pdf](https://github.com/noi-techpark/bdp-commons/files/6343168/210420_SpecificheIntegrationeODH.pdf)

[2021-04-20 11:42] bertolla commented on #236
After changing the query the data for traffic is up to date(takes around 10 minutes to do the calculations.) Following stations are not considered anymore for calculation after this change:
[code]

[2021-04-20 11:43] rcavaliere commented on #236
@bertolla can you please add the name of these stations? So I can check if they should be online or offline...

[2021-04-21 06:26] bertolla commented on #236
I checked the values and they are all 0 and -999. Means they are offline. As long as we did calculation on all stations which were active in the last year there were done a lot of unneeded calculations.
The first one is `SEZIONE DI RILEVAMENTO KM. 076,600 RADAR (corsia di marcia nord, direzione nord)`. You can't see them on analytics, probably because `active` is set to `false`, which is the corre

[2021-04-21 06:28] bertolla commented on #236
For the a22 environment elaborations(average) I noticed that the number of datapoints is often close to the min limit(30) to do the calculations, which means sometimes you won't see em because there are not 30 datapoints in that hour.

[2021-04-21 06:39] rcavaliere commented on #236
@bertolla thanks for all these controls. OK for the elaborations as they are configured now, if the sensors do not measure something it's correct to not make any elaboration.

[2021-04-21 07:24] bertolla commented on #236
For other datacollectors I saws there is no query which takes a long time. I noticed a regular 2h delay and think there must be some timezone issue on that one. Probably also on the others but I need to check

[2021-04-21 07:54] bertolla commented on #236
for VMS it's the same

[2021-04-21 07:56] bertolla commented on #236
and yes also for LinkStation.
The problem is in the datacollector for sure.
@rcavaliere  Should I use even more time to investigate in the source code or should we pass it to Davide and Chris?

[2021-04-21 07:58] rcavaliere commented on #236
I have seen that is much more efficient if you control this. If it takes you too long, please let me know.

[2021-04-21 08:00] bertolla commented on #236
We might need to delete all old elaborations

[2021-04-21 08:03] rcavaliere commented on #236
Here we don't have elaborations, what d you mean?

[2021-04-21 08:18] bertolla commented on #236
I see, so these are raw data with wrong timestamps now. Do we get the old data?

[2021-04-21 08:34] rcavaliere commented on #236
Yes of course. You intend to request the whole history since the timestamp was wrong? Can you fix this at a DB level?

[2021-04-21 08:52] bertolla commented on #236
This is the issue:
![image](https://user-images.githubusercontent.com/3582457/115524333-4d3f9380-a28e-11eb-9372-3343b4fb79f2.png)

The code is not considering the timezone when parsing the date which in my eyes is wrong. There is an explanation here why https://github.com/noi-techpark/bdp-commons/blob/d802d0697241bf8c37c689fbd6d40090535f07d5/data-collectors/roadweather-a22/src/main/java/it/bz/noi/

[2021-04-21 08:56] rcavaliere commented on #236
as you want. Do you want to notify this to Davide?

[2021-04-21 08:56] bertolla commented on #236
No, we need to delete stuff that is in there or it would just be guessing.

[2021-04-21 08:58] rcavaliere commented on #236
But we have already quite a long history of data... this could be quite demanding. Or?

[2021-04-22 20:16] chris-mair commented on #236
Hi all,

the comment "Reverse engineering the A22 time stamp format"

https://github.com/noi-techpark/bdp-commons/blob/d802d0697241bf8c37c689fbd6d40090535f07d5/data-collectors/roadweather-a22/src/main/java/it/bz/noi/a22/roadweather/Connector.java#L376

was made by me in the original A22 traffic connector.

I'm pretty sure I'm parsing the A22 timestamp correctly.

Indeed, if you look at my A22 traf

[2021-04-22 20:28] chris-mair commented on #236
Just to be perfectly clear, if I connect to the a22db right now, where those longs are stored as parsed by me,  I get:

a22db=> select max(timestamp) from a22.a22_traffic ;
    max
------------
 1619123058
(1 row)

(there is no time zone conversion involved, were talking a long here, not a timestamp!)

And this value is indeed now!

UTC-Linux:

[chris@euler ~]$ date -d @1619123058
Thu Apr 22 20:24

[2021-04-22 20:33] chris-mair commented on #236
PS: in case this is not clear, the unix epoch is an *un*ambigous timestamp (it's the second since 1970-01-01 00:00:00 *UTC*).

-- Chris

[2021-04-23 07:47] bertolla commented on #236
For the a22-traffic data collector I don't see any problems the newest dataset in the db is `A22:1871:1  | 2021-04-23 07:27:10 |    600`.
For the a22-roadweather data the newest is`A22:1871:1  | 2021-04-23 07:27:10 |    600`

[2021-04-23 09:27] chris-mair commented on #236
@bertolla interesting, looks like different services have different behaviour :\

Here is a screenshot that confirms the long is already the correct epoch value for traffic:

![Screenshot 2021-04-23 at 10 05 21](https://user-images.githubusercontent.com/4518241/115850958-b6f2a580-a426-11eb-9f63-173285ff62ef.png)

I've also written a mail to you about this.

-- Chris.

[2021-04-27 08:34] bertolla commented on #249
@rcavaliere
- The connection works only through the ip where we have the traffic datacollector on port 5002. We need to switch that they open for every ip of a domain we specify
- I need the wsdl to be able to do anything
- The old endpoint is http://109.117.22.203:5001/DataDispatcherWebServices.asmx . What is the new endpoint?

[2021-04-27 16:32] chris-mair commented on #236
Update:

it looks like after forcing the timestamp in the BDP to be interpretade as UTC there is no elaboration lag any more!

![a22](https://user-images.githubusercontent.com/4518241/116278260-9f991c80-a786-11eb-85eb-a6f0a572b15f.png)

So it least for traffic this should be solved ( I'd have @davidebz double check the elaboration code for time zone issues, though to be sure).

-- Chris

[2021-04-27 20:32] rcavaliere commented on #249
@bertolla

Can you please provide the IP addresses you want to use for the tests

I can't upload a WSDL on github, I send this via e-nail

The new endpoint should be the same. Try and if not tell me that I ask for clarifications

The API should be fast the same, with some small adaptions in my view you can reuse the existing data collector

[2021-04-28 11:52] bertolla commented on #249
I would not provide you an ip but we would use a domain like for example: `comunebz.opendatahub.bz.it`. You would need to ask if they can open their firewall for a domain.

I got it :+1:

It's not the same, I found out by trial end error. It's http://109.117.22.203:5002/BiciCountDispatcherWs.asmx

Seems to be working. One thing I would need to know how are the mapping of types now? In traffic we h

[2021-04-28 20:39] rcavaliere commented on #249
@bertolla I asked the Municipality of BZ about the access through a certain domain and Famas System for the specifications. Can you provide me the log issue with the traffic data collector with the Municipality?

[2021-04-29 05:24] rcavaliere commented on #249
@bertolla The Municipality of BZ has already replied. They can only set IP addresses.

[2021-04-30 04:58] rcavaliere commented on #236
Status:
-> A22/traffic all solved, non dovrebbe esserci piu` nessun lag a nessun livello
-> A22/non-traffic pending ulteriori analisi Patrick Chris dopo input A22
-> A22 /air quality sensors: should work now

[2021-04-30 05:02] rcavaliere commented on #249
Status:
-> first tests completed
-> API document insufficient, asking for more specifications (waiting for feedback)
-> issue with access limitation, possible to allow only certain IPs, suboptimal situation in terms of server infrastructure on AWS. @bertolla @Piiit how do you suggest to improve this situation?
-> still to be understood the effort to develop this new DC on top of https://github.com

[2021-05-13 06:44] Piiit commented on #249
@rcavaliere We could probably have a set of static IPs that we never change and just redirect internally with some route53 configs on AWS. We could then have some CNAMEs for instance or a reverse proxy installation. Another solution could be that we connect via VPN (but I would not recommend this approach, since it introduces technical depth and additional problems for sure)... or as last resort,

[2021-05-13 08:59] bertolla commented on #249
@rcavaliere
Data is inside test db, test here:
https://mobility.api.opendatahub.testingmachine.eu/v2/flat/BikeCounter/*/latest
https://mobility.api.opendatahub.testingmachine.eu/v2/flat/BikeCounter/
Can you update analytics?

[2021-05-13 20:54] rcavaliere commented on #249
Super! To see data on analytics we need a small development work, also in terms of UX / UI...  @sseppi do we have open contracts with externals such as Made in Cima to ask for such small things, e.g. a new icon / colour for analytics?

[2021-05-19 08:54] bertolla commented on #236
- A22/RWISstations are now up to date(minutes) and should send valid data, timezone issues in history where also solved
-  A22/LinkStation are now up to date(minutes) and should send valid data, timezone issues in history where also solved
- A22/VMS are **not** up to date. The data provided by a22 was 2 hours behind before the timezone fix and are now 1 hour behind. Current example:
[code]

@rcava

[2021-05-19 16:36] rcavaliere commented on #236
@bertolla thanks for the update. The RWIS data seem to be complete. The LinkStation stations seem to have data only since 1.1.2020, is it right? Is the DC still ingesting data? See [here](https://analytics.opendatahub.bz.it/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1567288800000,%22to%22:1582844400000%7D,%22graphs%22:%5B%7B%22category%22:%22

[2021-05-20 08:17] bertolla commented on #236
Seems to be right I also checked on the test-db where I didn't touch the data and this was the result of my query:
[code]

Seem to be up to date:
select stationcode,name,timestamp from station join measurementstring on station_id=station.id where stationtype='LinkStation' and origin='A22';
 stationcode |               name                |      timestamp
-------------+-----------------------------

[2021-05-21 12:26] bertolla commented on #223
I fixed this issue in this commit a9b063874ba7f73eb903001fd47dccb0f4092af1 way back but forgot to close the issue.

[2021-05-21 12:26] #223 closed

[2021-05-25 16:48] rcavaliere opened #264 "Precipitation data of weather stations of the Province of Bolzano are no more up-to-date"

[2021-05-25 16:50] rcavaliere opened #265 "Air quality hourly averages computed by ODH for the A22 air quality low-cost sensors sometimes miss some data point in the time series"
See notification by CISMA here
[20210520_CISMA_B4_realtime.pdf](https://github.com/noi-techpark/bdp-commons/files/6540985/20210520_CISMA_B4_realtime.pdf)

[2021-05-25 19:35] rcavaliere commented on #249
@bertolla seems to work fine. Just two things:
- [ ] at present we have period = 1 in the measurement / measurementhistory tables. I would put 3600 since the data has a hourly resolution
- [ ] looking at the time series I think we have some timezone issue. The peak is at 5 AM which is not reasonable. I guess it is 7 AM

[2021-05-25 19:50] rcavaliere commented on #236
@bertolla @chris-mair I have seen that road weather data is not entering since 19.5. But the other data collectors seem to work (e.g. travel times). @chris-mair there is still another open point: @bertolla argues that VMS data are 1 hour late, and in fact it seems so. Before asking A22 (Federica), are we sure that on our side to read the data correctly?

[2021-05-26 15:24] #264 closed

[2021-06-04 07:39] davidebz commented on #248
Hi,

Thomas has send a PR for the parking part. It can be but in testing environment.

[2021-06-04 07:44] davidebz commented on #248
As discuss in the email betwenn Roberto and Davide (31/05/21, 18:22
), we can't modify the active flag, this should be made by the "writer"

[2021-06-04 07:53] davidebz commented on #263
As discuss in the email betwenn Roberto and Davide (31/05/21, 18:22
), we can't modify the active flag, this should be made by the "writer"

Note: for A22 events the active flag should not depends on stations during the syncStation
call but using the metadata data_inizio and data_fine.

[2021-06-04 08:16] davidebz commented on #248
Note: until now the "posti_liberi" is always null except sadobre
All have capacità (as metadata) and stato (0,1,2)

[2021-06-04 09:50] rcavaliere commented on #248
@davidebz thanks! One question: the type "posti_liberi" is returned for all parking areas? Because if it is available just for the Sadobre parking area, I would avoid to foresee this data type for all the other parking area, since we will have there just unuseless time series with just "null" values...

[2021-06-04 09:54] rcavaliere commented on #263
@davidebz yes correct! Do you have a PR ready also for this DC? Then we should foresee a little development on the writer side in order to handle the status of the events provided by this DC, which can made by @bertolla

[2021-06-04 13:54] noctho commented on #263
I have created a PR request (#280), but I have marked it as WIP, because of the following reasons:

- In the specification is written that we should let the name of the station empty. But it's a mandatory field, so we have to specificity it's value (eiter the Id, or something like "\<description of idtipoevento\> \<id\>" or something else). At the moment, I'm using the id as a placeholder.
- I hav

[2021-06-05 04:52] rcavaliere opened #281 "As a project manager I would like to have some technical details (e.g. log file) about the technical communication issues with the TCC of the City of Bolzano in relation to traffic data"
I need some technical information that I can share with Famas System / Municipality of Bolzano, so to ensure that the data stream can be always up and running

[2021-06-07 04:20] rcavaliere commented on #263
@noctho thanks for the inputs. My feedback to your points:

- name of the station: I would suggest to create it automatically from other fields, namely "id_idtipoevento_idsottotipoevento"
- idtipoevento not specified: thanks for the notice, I will ask A22 for more information
- scheduler: I would also suggest to put something less, i.e. 5 minutes so that in case of an event we are quick to provide

[2021-06-07 13:16] bertolla commented on #249
@rcavaliere
Just having a glance on a random dataset(Via Parma - Verso Nord) I don't think it is the case:
[code]
Can you show me the data which is wrong?

[2021-06-07 14:23] chris-mair commented on #236
Hi all,

please apologize, I opted out of mail from Gitlab so you need to send direct mail to reach me.

Here is my analysis.

First of all, checking with curl right now, it appears Federica's timestamp
format has been reverted to the old one with the +0200 to be ignored!

So again, the raw value we get is XXXXXXXXXX000+YYYY with XXXXXXXXXX being the
epoch and YYYY to be ignored.

All my collector

[2021-06-07 14:44] bertolla commented on #265
@rcavaliere
They are missing for a simple reason that we defined together with CISMA.
If there are not at least 30 datapoints, we do not calculate an average.

[2021-06-07 15:03] bertolla commented on #236
Regarding the roadweather data, there are some stations where data is up to date:
[code]
while the others are still not receiving new data. I'll try to understand why.

[2021-06-07 20:45] rcavaliere commented on #249
OK, I have to make another look at the data. It seemed to me that certain measurement points had another behavior....

[2021-06-07 20:54] rcavaliere commented on #265
@bertolla thanks for the reminder. OK, let me share this information with the other partner, I will let you know if we want to change this behavior

[2021-06-07 20:56] rcavaliere commented on #265
@bertolla another question: how are the elaborations computed? Are we first making the averages and then the elaborations or viceversa?

[2021-06-08 07:17] bertolla commented on #249
This is the reuslt:
[code]

From this data I can derive that:
- there is no timezone issue, since the difference of time when it was created and when it was measured is never even close to 2 hours
- the last record timestamp differs from station to station
- the difference between the time the dataset gets measured and exposed through the webservice differs considerably(20-70 minutes)

[2021-06-08 07:45] bertolla commented on #265
first the elaborations, since those are made by the datacollector which collects the data

[2021-06-08 09:58] bertolla commented on #236
@rcavaliere
Regarding VMS data there are 2 possibilities that come to my mind:
1. The data we receive are correct but are published one hour + some minutes later(strange since every other dataset is up to date)
2. A22 provides wrong timestamps (like they did for other datasets)

[2021-06-08 10:43] bertolla commented on #236
I now also did some tests with curl and I get the same result.
There is also to note, that the pannels do not change periodically, but when they change we save it as a record.
My issue with the whole system is that no datarecord ever comes in prior one hour has passed, which means the most recent data is lagging always behind 1 hour and some minutes. Therefore the only possible reasons are the one

[2021-06-08 20:17] rcavaliere commented on #265
@bertolla I have had today a discussion with the technical partners of BrennerLEC about the criteria for not computing the hourly averages. They suggest to reduce the criterion to **16** datapoints, so to have more values in the time series. Can you please update this?
Regarding the way elaborations are computed: from a mathematical point of view, the correct workflow would be the following, since

[2021-06-08 20:35] rcavaliere commented on #236
@bertolla can you write here the curl tests you tried for the VMS? I would like to investigate this more on myself. Please continue in the meantime to understand what's the issue with the RWIS data...

[2021-06-09 08:51] bertolla commented on #236
Well you can but you will need to get a session token beforehand, configure the date parameters correctly and chenage the idpmv as you need, I'll send an encrypted session token that still works now:
[code]

[2021-06-09 12:32] bertolla commented on #236
I fixed the problem with the RWIS data.
For some strange reason, if a push to odh failed, the collector stopped and started from scratch.
Now it's not failing and even if one station fails to push it proceeds with the rest.
See 1c6f65c212420e8497e64e8229a6e3319618e7cf

[2021-06-09 13:47] bertolla commented on #265
We can do this, but doing it for data we already calculated means deleting all old data.

Well yes, since they are 2 differenct modules who doesn't know of each other.

[2021-06-09 13:48] rcavaliere commented on #265
@bertolla I would apply the new logic for the 16 datapoints only to the new data entering, without changing the previous elaborations. It's wonderful if you can change the flow of the the two elaborations.

[2021-06-09 14:48] bertolla commented on #265
No, I can't. You asked me if it is complicated and I answered yes, so better not to change.

[2021-06-10 11:46] bertolla commented on #281
This is the log file:
[dc-traffic-bz.log](https://github.com/noi-techpark/bdp-commons/files/6631022/dc-traffic-bz.log)

I don't think that there is a lot to gain from here.
My proposition is, now that they opened the docker ips, to move the application to docker and by doing so, debugging what currently goes wrong when calling the apis.

[2021-06-10 15:47] rcavaliere commented on #236
@chris-mair @bertolla For the VMS data: I had today another occasion to discuss this with Federica and CISMA, which is also reading automatically this data. They confirmed me that the data are provided now as **UTC + timezone**. CISMA needed to adapt their parser to correctly read the data. We should check if we are parsing correctly this. I forward you a Python application CISMA has implemented w

[2021-06-10 16:23] chris-mair commented on #236
@rcavaliere , we're moving in circles here...

F.C. already confirmed that the +0100 or +0200 is to be ignored. She even had it removed (read her email
below). For reasons unknown it appeared again.

All my code ignores the +0100 or +0200 (if it's present) and always has.

Appearantly right now we're off 1 hour for VMS only. If I added the +0200 that we're getting in summer,
we would be still wron

[2021-06-10 19:55] rcavaliere opened #282 "As a project manager I would like that the hubs of the new car pooling service under implementation are read from a shared Google Sheet file"
There is a completely new car pooling service coming to South Tyrol, which can be disruptive: it's called ummadum: https://ummadum.com/

Similarly to the existing car pooling service, it will also be characterized by "hubs", i.e. predefined destinations where users can more easily decide to end a joint trip. Differently from today, hubs are going to be managed in a shared Google Sheet file availab

[2021-06-10 19:58] rcavaliere opened #283 "As an air quality expert I would like to avoid to analyze dirty data that is related to intercalibration periods"
![190201_Intercalibrazione_ML5-2](https://user-images.githubusercontent.com/9825179/121589407-4f74d180-ca37-11eb-8bb7-1f2c39df56f9.jpg)
The low-cost innovative air quality sensors of A22 need every 6 months (on average) to be calibrated again in order to improve the coefficients used in the elaboration post-processing. The calibration is typically done in an inter-calibration site, where sensors'

[2021-06-11 15:48] chris-mair commented on #236
Hi,

In summary, this issue has become very broad, mixing different things.

Some issues effectly caused the data to be delayed:

- there were network (timeout) issues that stalled or blocked data gathering (confirmed and solved by us and A22)

- we had a performance issue with (some) elaborations that caused lags (confirmed and solved by us)

- some data was timestamped wrongly by A22 (confirmed

[2021-06-11 15:59] chris-mair commented on #15
Uhm, I just now see this from 2018...

The A22 traffic data is different from everything else, because it is large data stream that has its own special collector that runs standalone and feeds into a dedicated db (a22db).

I don't think this could or should be integrated into a test environment I don't see the point (and expenses) to double this infrastructure (a dedicate Beanstalk instance with a

[2021-06-11 16:31] #15 closed

[2021-06-14 10:15] bertolla commented on #282
@rcavaliere
Why is it an enhancement?

I had to rename the `name` fields of the spreadsheet since they did not follow the naming conventions that our spreadsheets reader is following. For each hub I create in the odh, I need a unique identifier which should be defined in the sheet. We can either ...
- use one of the existing fields
- create a custom field in the spreadsheet
- combine multiple exis

[2021-06-14 10:18] rcavaliere commented on #282
@bertolla the Google Sheet was created by me, you can configure it in the best way you thing it is useful for the integration in the Open Data Hub. For the IDs, of course we can create a column for that and define a convention for this. Let me think about this a little bit..

[2021-06-14 11:28] bertolla commented on #283
@rcavaliere
How are this timestamps to be interpreted?
For Example:
Does `AQ1:6/10/2018 - 6/30/2018`
mean `AQ1:6/10/2018 00:00:00 - 6/30/2018 23:59:59` ?

[2021-06-14 11:28] rcavaliere commented on #283
yes, correct!

[2021-06-14 11:39] bertolla commented on #283
All measurements independent from the type?

[2021-06-14 11:41] rcavaliere commented on #283
yes, all types associated to that sensor

[2021-06-14 12:15] bertolla commented on #283
Ok I have done it for all sensors.
For the future we want to use the spreadsheet. Is it one we find on google spreadsheet?
I guess no.

[2021-06-14 12:47] rcavaliere commented on #249
@bertolla wonderful. Is this dataset already available via API? I don't see it.

[2021-06-14 14:18] bertolla commented on #249
Since the synchronization is running once a day in the morning, you will need to wait till tomorrow

[2021-06-14 15:02] bertolla commented on #283
Things to do:
- [ ] create a strategy to avoid missing out maintenance periods for sensors
- [ ] define api for ninja to get station history

[2021-06-14 15:20] bertolla commented on #236
@rcavaliere
With the last exchange of emails I understood that we interpret the data from vms the right way.
But I'm still conflicted.
Is the vms service publishing the data 1 hour+ later after collecting the data?
We did not get any clear answer on that, or did I miss something?
And even if it's correct, what is the reason for the delay?

[2021-06-14 19:43] rcavaliere commented on #283
My proposal would be the following:
- [ ] create a Google Sheet file in which intercalibration periods have to be inserted
- [ ] in case of a new intercalibration period, data should be associated to "calibration" types (not cancelled)
But this should be a new user story...

[2021-06-15 09:23] bertolla commented on #283
which means currently there is no google spreadsheet and there is implementation to be done

[2021-06-15 09:41] rcavaliere commented on #283
@bertolla I suggest to close this user story and to open a new one. Is this OK for you?

[2021-06-15 10:04] bertolla commented on #283
Yes, we can do that, but my suggestion on using the google spreadsheet to define periods was based on the assumption that there is already one we are using. Creating additional complexity and implement this to the datacollector is surely not the best way, if so.
They should be the one to send a flag or not send data if they are doing recalibration/maintenance jobs on the sensors.

[2021-06-15 20:11] rcavaliere commented on #236
@bertolla @chris-mair let us check this. Based on the answer we receive, let's close this issue definitely (so it looks like the data are correct) or let's close the issue and open a new one just for the VMS, as @chris-mair suggested

[2021-06-15 20:17] rcavaliere commented on #283
This is not so easy to implement in their back-end. But OK, let's close this issue and open a new one when a new calibration will be planned (it will be 2022...)

[2021-06-15 20:17] #283 closed

[2021-06-16 07:24] #236 closed

[2021-06-16 12:07] bertolla commented on #282
@rcavaliere Have you thought about it, I just need that information to to to testing

[2021-06-16 14:47] rcavaliere commented on #282
@bertolla you are right. Maybe for the start we can create a custom field and use a convention like "HUB_nr" and we give a progressive number to the hubs we create them (e.g. HUB_1, HUB_2, etc.). We should also have a field called "status" to use in case we want to deactivate hubs: I would avoid to delete rows from the sheet, but rather set them as "NOT_ACTIVE" (default value could be "ACTIVE"). W

[2021-06-17 10:22] bertolla commented on #282
CarpoolingHubs are now visible in the test db and I guess also on analytics.
I'm currently doing a backup and restore on the database so they might not be visible after the restore.

[2021-06-17 12:53] rcavaliere commented on #282
I see the data in the test DB. I see something strange for stationcode and origin, what did you put for these fields?

[2021-06-21 08:46] bertolla commented on #248
@rcavaliere which a22 user can I use? As I remember we can't use the same user in 2 different dc's.
Is there still one I can use?

[2021-06-21 09:29] rcavaliere commented on #248
@bertolla I forwarded to you via e-mail the credentials to be used.

[2021-06-21 12:40] bertolla commented on #248
I put everything on testing, to me it seems that there is only data pouring in from 'SADOBRE', but maybe it's better if you test @rcavaliere

[2021-06-22 14:22] rcavaliere commented on #265
@bertolla I am testing this right now, it looks better but in some situations I still see holes. See this example:

https://analytics.opendatahub.bz.it/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1623621600000,%22to%22:1624399200000%7D,%22graphs%22:%5B%7B%22category%22:%22Air%20quality%22,%22station%22:%22AUGEG4_AIRQ01%22,%22station_name%22:%2

[2021-06-22 15:15] bertolla commented on #265
Sure, lookt at this:
https://analytics.opendatahub.bz.it/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1623621600000,%22to%22:1624399200000%7D,%22graphs%22:%5B%7B%22category%22:%22Air%20quality%22,%22station%22:%22AUGEG4_AIRQ01%22,%22station_name%22:%22103.700_APPA%20BZ%22,%22data_type%22:%22NO2-Alphasense_processed%22,%22unit%22:%22%22,%22perio

[2021-06-22 15:34] #265 closed

[2021-06-25 05:44] rcavaliere opened #286 "As an air quality data scientist I would like to improve the elaboration workflow of the data collected by the low-cost innovative air quality sensors of A22"
[pres_24_06.pdf](https://github.com/noi-techpark/bdp-commons/files/6713885/pres_24_06.pdf)
Connected to the discussion in #265

UNITN has made a comparison between how we currently compute the elaborations (calibration) of the raw measurement and the desired approach they recommend, which is:

- compute the hourly averages applied to raw measurements
- compute the non linear transformations (compl

[2021-06-25 06:17] rcavaliere commented on #248
@davidebz I have tested the Data Collector. In general, everything works as expected.
I would however propose an improvement. If you look at the metadata saved for the parking area "Sadobre" you will see different records, since the fields "stato" and "capacità" seem to vary quite frequently. I do not understand why the field "capacity" change, since usually it is fixed. My proposal would be to ke

[2021-06-25 07:46] rcavaliere commented on #282
@bertolla will add a field alternative to the origin so to let a 3rd party understand who is data provider.
For the stationcode please use the namespace: "ummadum:" + the unique number

[2021-06-25 08:02] rcavaliere commented on #281
@bertolla makes some calls examples (not with Data Collector) and documents typical errors we see (timeout and NULL result).
@rcavaliere will discuss with Famas System

[2021-06-25 08:11] noctho commented on #248
done. see #287

[2021-06-28 09:57] bertolla commented on #282
I checked again, this is not doable using the current google spreadsheet data-collector.
It should not be of any concern since it is a unique id and holds no information aggregated with the dataprovider.
This is an example query which does not return stationcode and it still works:
https://mobility.api.opendatahub.testingmachine.eu/v2/flat/CarpoolingHub/?select=scoordinate,smetadata&where=sorigin.

[2021-06-28 20:59] rcavaliere commented on #282
In this case I would suggest to add an additional field in the Google Sheet for the stationcode. Would this be feasible and OK for you?

[2021-06-29 06:56] bertolla commented on #282
Well you can add a field but it will not be exposed as stationcode, but as smetadata.stationcode. You can define that as you want.

[2021-06-30 06:26] rcavaliere commented on #282
@bertolla I added a new field called origin, so to keep trace about how is the "owner" of a certain hub. This should be useful to manage the list and also for the above filtering needs

[2021-07-02 16:44] rcavaliere commented on #282
@bertolla I don't see the field "origin" in the JSON stored in the metadata. Do you need to add something in the Data collector logic?

[2021-07-05 09:43] bertolla commented on #281
@rcavaliere
I just tested to get data for station 12 from last timestamp(07-05-2021) to now.
This is the request I do via SOAP:
[code]
This is the response:
[code]
As you can see the webservice is returning nothing. Don't know if this is the only problem but it surely is one.

[2021-07-05 14:43] bertolla commented on #282
I had to trigger a sync manually since I don't have google send change notifications on our test environment.
Now it's visible:
https://mobility.api.opendatahub.testingmachine.eu/v2/flat/CarpoolingHub/?select=scoordinate,smetadata&where=smetadata.origin.eq.BZBGA,sactive.eq.true

[2021-07-06 06:42] bertolla commented on #282
This is only running on test. Don't you want me to put it to production?

[2021-07-08 12:29] bertolla commented on #286
@rcavaliere
Question:
Are these the correct data types?
[code]
Is there a reason why NO and NO2 have no elaborations, but only their cousins 'Alphasense'?

[2021-07-08 12:47] rcavaliere commented on #286
@bertolla yes they are. Data types with appendix "_processed" are those that need to be computed the non linear transformations (complex formulas) on the hourly averages (only).

Summarizing again:
"_raw" -> "_raw" (hourly averages) -> _processed (complex formulas)

NO2 and NO sensors: after some comparisons UNITN has decided to focus just on Alphasense sensors because they are the better ones. Fo

[2021-07-08 13:13] bertolla commented on #286
Do we have some sample data for a calculation with 1 hour?

[2021-07-08 13:15] rcavaliere commented on #286
what do you mean? We continue to receive data from algorab!

[2021-07-08 13:16] bertolla commented on #286
sure but we do not have sample data of processed data on one hour. I would like to write some tests to be sure that the calculations are done correctly

[2021-07-08 13:20] rcavaliere commented on #286
Ok, I can ask the University of Trento to make some tests that we can automate. Can you in the meantime implement everything? They can use then analytics to check if everything is correct

[2021-07-08 14:43] bertolla commented on #286
These 2 queries are to eliminate all processed data:
[code]

[2021-07-08 14:44] bertolla commented on #286
I'm nearly finished, I'll just need to check if my calculations are right

[2021-07-08 15:09] bertolla commented on #286
All calculations on the period 3600 are already in the test database, so maybe you can have a look at it, once you're back.
I did not have anything to check my calcs with so I predict a lot of wrong data ;-)

[2021-07-11 04:03] rcavaliere commented on #281
@bertolla I have forwarded this information to Famas System. Let's wait for their feedback. In the meantime, let's close this issue.

[2021-07-11 04:03] #281 closed

[2021-07-13 12:59] bertolla commented on #282
@rcavaliere Can you give me write access to the google spreadsheet, so I can test the triggering of the sync?

[2021-07-13 13:12] rcavaliere commented on #282
@bertolla done!

[2021-07-13 14:15] #282 closed

[2021-07-14 15:35] bertolla commented on #286
First example on analytics you can check:
https://analytics.opendatahub.testingmachine.eu/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1623535200000,%22to%22:1626213600000%7D,%22graphs%22:%5B%7B%22category%22:%22Air%20quality%22,%22station%22:%22AUGEG4_AIRQ01%22,%22station_name%22:%22103.700_APPA%20BZ%22,%22data_type%22:%22PM10_raw%22,%22unit%2

[2021-07-19 15:28] rcavaliere commented on #248
@noctho @davidebz Data Collector tested, works as expected. Wonderful!
@bertolla please put it in production. Remember: data should be closed and accessible only from the BrennerLEC user group

[2021-07-19 15:50] rcavaliere commented on #286
@bertolla I have tested this a little bit. The averages look good, while the complex elaborations (let's call them "calibrations") have issues, since I see frequent negative values. Can you give me the link to the source code for the calibrations? Maybe I can also check if mathematically everything is done correctly

Look at this example:

id | created_on | period | timestamp | double_value | prov

[2021-07-20 06:47] bertolla commented on #248
Yes, I deployed on Jun "25 12:28". I deployed it just now once more just to be sure(always on test)

[2021-07-20 15:46] rcavaliere commented on #286
https://github.com/noi-techpark/bdp-elaborations/blob/2e26b1060d45b187f33fb4cb98928a69d76dba65/Environment-A22-Processing/src/dataprocessor/DataProcessor.py#L60

[2021-07-20 15:48] rcavaliere commented on #248
@bertolla I don't understand. It is still not in production, or?

[2021-07-21 06:48] bertolla commented on #248
No, it never went on production.
What happened:
pull-request-> deployment on test -> missing feature -> davide fixed problem/new pull request -> deployed on test on june 25. -> now

[2021-07-21 06:50] rcavaliere commented on #248
ok, now we can go in production! :-)

[2021-07-21 07:30] #248 closed

[2021-07-21 09:38] rcavaliere commented on #286
@bertolla wonderful news. I completed a significant test (see attachment) and in my opinion the processing computations are implemented correctly. The only thing that needs to be added is the following rule, to be applied for all calibrations:
`if (processed_value < 0) then (processed_value = 0)`
Once this improvement is implemented please run this again the testing environment and let's have a lo

[2021-07-21 15:53] rcavaliere opened #289 "EPIC: as a project manager I would like to integrate the real-time data of the on-demand service of MENTOR"
High Priority, Deadline 31 September

The Data Collector is developed by Catch&Solve. Tasks foreseen:
- [x] creation of repository + CI pipeline
- [x] data model definition ("mapping" between data availability and ODH model)
- [x] Data Collector development

Details available here:
[210616_RichiestaOfferte.pdf](https://github.com/noi-techpark/bdp-commons/files/6857144/210616_RichiestaOfferte.pdf)

[2021-07-22 06:37] bertolla commented on #286
Well, ok, but I would'nt save it at all at this point if it makes no sense :confused:

[2021-07-22 06:38] rcavaliere commented on #286
what do you intend?

[2021-07-22 06:39] bertolla commented on #286
If the negative value makes no sense at all why even bother to save something else than?

[2021-07-22 11:28] rcavaliere commented on #286
No, they have sense. No value means no measurement, in this sense we have a raw measurement that has the meaning of a very low concentration. So please save it as requested

[2021-07-30 16:05] rcavaliere commented on #286
@bertolla I have tested the '0' presence, everything is fine. What is the status with the implementation of the calculation of the averages as lambda function?

[2021-07-31 04:33] rcavaliere commented on #249
Famas has fixed the coordinates issues. Data is OK, we can put the DC in production

[2021-08-01 07:24] #249 closed

[2021-08-02 06:38] bertolla commented on #286
Well the averages as a separated module already exists as a java app, running on docker. If Lukas M. has time he will try to re implement it as lambda function. For now the whole chain is already working as expected.

[2021-08-02 06:40] rcavaliere commented on #286
OK, can we in the meantime go into production?

[2021-08-02 06:41] bertolla commented on #286
Yes, sure. Move to user-story and I'll do it

[2021-08-02 13:42] rcavaliere opened #290 "Implementation of a measurement / measurementhistory table able to save a JSON as value"
High Priority, Deadline 17 September (an working alpha version)

Associated to epic #289

As documented in the attached specification, some dataset need a new table measurement / measurementhistory table able to save a JSON as value
[210802_SpecificheIntegrationeODH.pdf](https://github.com/noi-techpark/bdp-commons/files/6917360/210802_SpecificheIntegrationeODH.pdf)

Tasks foreseen:

@bertolla

- [

[2021-08-03 07:12] #286 closed

[2021-08-04 13:20] bertolla commented on #263
First test  release running on testserver in version 5.3.0-SNAPSHOT of bdp.

[2021-08-10 08:59] bertolla commented on #290
I implemented the needed changes but I would like to deploy it only once the new Event API is tested and deployed to production.

[2021-08-13 06:51] bertolla commented on #290
Test database can handle json values. This is supported in bdp version 5.4.0-SNAPSHOT and will be released once tested.

[2021-08-13 06:53] rcavaliere commented on #290
OK, that's means that we can test this the on-demand DC?

[2021-08-13 07:58] bertolla commented on #290
Sure, even though I would suggest to first test it internally to avoid a back and forth between us and the external provider. Also, Peter M. needs to finish the adaptations in ninja and an external provider cannot see the changes/data if that's not implemented

[2021-08-13 09:11] niettadesantis opened #550 "As IDM I would like to know if there's a possibility to import the traffic data of the province in ODH."
I refer to the data that I've found on this page:
https://verkehr.provinz.bz.it/
Basically we are figuring out, if this data (congestions, roadworks, road closures,...) could be retrieved through the ODH one day in order to give information for the guests that move to and/or inside South Tyrol.
I've seen that on the open data portal of the province there are some datasets, but not sure if they are

[2021-08-13 09:46] bertolla commented on #289
@rcavaliere Could you please send me the username and share the password through passbolt?
https://github.com/noi-techpark/bdp-commons/blob/development/data-collectors/on-demand-merano/src/main/resources/connector.properties

[2021-08-13 11:13] rcavaliere commented on #289
@bertolla just forwarded via secure mail

[2021-08-13 12:34] rcavaliere commented on #289
@bertolla let me know when the DC is up and running in the test environment

[2021-08-16 09:45] bertolla commented on #289
I deployed on test but it throws exceptions:
[code]

[2021-08-16 09:47] rcavaliere commented on #289
@noctho can you please have a look at this?

[2021-08-16 12:57] noctho commented on #289
Unfortunately I was not able to reproduce this exception. On my local machine the pushData method to my local bdp-core works without exception ... I added some logs of the passed json to check that the json is generated correctly.

Anyway, I noted that the vehicle data in the active activities api are now complete. I found a small problem with the data collector, which I have now fixed.

See my ne

[2021-08-18 13:47] rcavaliere commented on #289
@noctho has made a first implementation of the DC. Works and it has already tested. Proposed a change for the management of the vehicle data, so that they can be immediately available through the ODH API.

[2021-08-30 17:18] rcavaliere commented on #290
@Piiit this user story has quite a high priority. Can you complete this by the end of this sprint?

[2021-09-16 19:53] Piiit commented on #290
@rcavaliere I implemented it, and tested to some extend... Improved also the select and where clause to better understand json subqueries... it is still beta thou, we need more tests and some code refactoring

[2021-09-17 06:59] rcavaliere opened #296 "As a project manager I would like to integrate the DC related to the bike chargers supplied by Ecospazio in our infrastructure"
**UPDATE BY @Piiit **

- [x] @Piiit Merge: The Data Collector has been developed by Catch & Solve. PR: https://github.com/noi-techpark/bdp-commons/pull/302
- [x] @rcavaliere Provide: We need to ingest in Jenkins the authentication credentials requested by Ecospazio --> set it here https://passwords.testingmachine.eu/app/passwords/view/766e6e54-6c14-4a0a-851d-b719e87762d0
- [x] @noctho or @davidebz

[2021-09-18 04:20] rcavaliere opened #297 "As a data scientist I want to have up-to-date meteorological data of the Province of Bolzano"
We currently take the data from http://dati.retecivica.bz.it/services/meteo/v1, which currently returns a 404 error code. The new official end-point is the following: http://dati.retecivica.bz.it/dataset/p-bz-southtyrolean-weatherservice-weatherstations

[2021-09-29 09:14] Piiit commented on #263
@rcavaliere I merged the PR https://github.com/noi-techpark/bdp-commons/pull/280, but we do not have a pipeline yet... so that would be needed to test it properly... Then we need to deploy the new core to production, and finally implement the event api on ninja... Hopefully in October I can finalize this

[2021-10-06 08:51] Piiit commented on #290
Re-read the main comment, the writer can stay the same... but we need to deploy the DC that writes into the JSON tables

[2021-10-06 08:54] Piiit commented on #290
So we can practically close this and focus on #289 to test it in a real-life scenario, right @rcavaliere ?

[2021-10-06 08:55] #290 closed

[2021-10-06 08:58] Piiit commented on #289
@rcavaliere Is this ready to be put into production, or do we still wait for your proposed vehicle data change?

[2021-10-07 05:34] rcavaliere commented on #289
@Piiit we can put this DC in production as well. Can you do this?

[2021-10-08 14:46] Piiit commented on #289
@rcavaliere I will try to do this now

[2021-10-13 12:42] Piiit opened #303 "The office 365 data collector has no longer access to the active directory"
I think, that this is because the account that Patrick B. used is no longer valid. I guess, that the tenant and client certs were made with his credentials.

I tried to follow the README and create a new certificate, but we still have an 401 unauthorized.

The solution is to update the README and add what is missing/deprecated, and to use a generic account of Microsoft to get those client access p

[2021-10-13 12:43] Piiit commented on #303
I add also @sseppi, so we can get in contact with @dulvui and @toburger if needed...

[2021-10-15 06:51] RudiThoeni opened #304 "Data collector office 365 is not working correctly authentication issue"

[2021-10-15 06:53] RudiThoeni commented on #304
duplicate

[2021-10-15 06:53] #304 closed

[2021-10-27 09:05] #303 closed, assigned to Piiit, sseppi, RudiThoeni

[2021-10-27 14:36] rcavaliere opened #305 "Bug: the Data Collector Innovative Air Quality Sensors of A22 does not provide real-time data anymore"
High Priority, Deadline 28 February 2022

[2021-11-02 14:10] Piiit commented on #305
@rcavaliere Does it work now?

[2021-11-02 14:26] Piiit commented on #305
I think it does not work. I get the following error once a day:

[code]

[2021-11-02 14:33] Piiit commented on #305
@rcavaliere Could we give this to the original author or must it be resolved internally?

[2021-11-02 16:18] rcavaliere commented on #305
@Piiit it does not work. I think this is quite difficult to understand for our data provider what's the issue. Probably we need more debugging on our side...

[2021-11-02 16:20] Piiit commented on #305
OK, I thought to ask the developer of the data collector, not the data provider... but maybe it is correct, that we need more details... I would need to understand the whole process behind the collector, does it use a VPN or can I test it locally?

[2021-11-02 16:26] rcavaliere commented on #305
@Piiit Patrick B. wrote the data collector. Yes, if I remember well there is also a VPN for the connection to the end-point, please check

[2021-11-16 09:53] Piiit commented on #305
@rcavaliere I cannot find any VPN installation, configuration, or documentation anywhere. It is a MQTT connection, but without a VPN I guess, maybe that was only necessary initially, and then it might have been dropped?

I cannot find any documentation, do you have some pdf or other assets?

[2021-11-16 09:56] Piiit commented on #305
@rcavaliere I also tested the mqtt connection, but currently I am not able to subscribe... however, I need to figure out which parameters must be set in detail... also here, no documentation exist, I need to extract that information from the Java code now

[2021-11-16 13:06] Piiit commented on #305
Also the testing endpoint in our integration tests is not reachable anymore: `tcp://mqtt-test.algorab.net:61619`

[2021-11-16 15:17] Piiit commented on #289
Done... @rcavaliere please test again on production to be sure

[2021-11-16 15:17] #289 closed

[2021-11-16 16:14] Piiit commented on #296
@rcavaliere I need the credentials... blocked meanwhile

[2021-11-17 04:49] rcavaliere commented on #305
@Piiit I have checked this a little bit since it has passed quite a long time here. I think the problem is in the connection with the end-point. For security reasons, at the end A22 decided to **not** have a VPN but to define a rule so that only our IP address 108.128.203.57 was allowed to connect to the end-point (http://213.21.183.12:61616) through the TCP port 80 (http). I fear that they set a

[2021-11-17 05:33] rcavaliere commented on #289
@Piiit seems to be OK, thanks!

[2021-11-17 10:08] Piiit commented on #305
@rcavaliere Tested with `nc -vz 213.21.183.12 61616`, got a timeout... I think we can no longer connect from 52.212.112.40

[2021-11-17 14:01] Piiit commented on #296
@noctho I need some information to deploy this DC...

[code]

value is the token here, that I have got from @rcavaliere ... but what is the name?

[2021-11-17 14:07] noctho commented on #296
name is 'Token' and value is the token. Its simple the name of the HTTP header.

[code]

[2021-11-17 14:39] Piiit commented on #296
@noctho Works, thank you... why didn't you hardcode it?

[2021-11-17 14:53] noctho commented on #296
I don't remember exactly why, but I think it was because at the beginning when I implemented it we only had the token and didn't know that the header name was 'Token'. Then when we knew that, I kept it parameterized because it is not a standardized header name like Authorization.

[2021-11-17 14:54] Piiit commented on #296
OK, I keep it then configurable

[2021-11-18 10:37] Piiit commented on #296
@rcavaliere The DC is online... see https://mobility.api.opendatahub.testingmachine.eu/v2/flat/BIKE_CHARGER/* for instance

Please test

[2021-11-20 07:13] rcavaliere opened #307 "As a traffic manager I would like to integrate "traffic events" of the regional roads in the Province of Bolzano in the Open Data Hub"
It deals with the integration of this PR: https://github.com/noi-techpark/bdp-commons/pull/306

It depends on

[2021-11-20 07:20] rcavaliere commented on #305
@Piiit I got a feedback from A22 that they didn't change anything, and that the rules are still active. They also told me that however they didn't receive any attempts to connect from our system in the last 30 days! So probably is there something that does not allow our end-point to connect to the A22 end-point?

[2021-11-20 07:24] rcavaliere opened #308 "As a project manager, I would like to have a fixed IP address to be given to a Data Provider (Famas System) for receiving traffic and Bluetooth data from the regional traffic monitoring system"
This user story just deals with the set up of fixed IP addresses to be given to the Data Provider. Please foresee an IP address for the testing environment and one for the production environment

[2021-11-22 09:39] Piiit commented on #305
@rcavaliere I will check again, do we have a documentation about their endpoint and the full configuration of what we used? I cannot find anything... If we do not have it, could you please ask them to provide one?

[2021-11-22 19:36] Piiit commented on #305
@rcavaliere I tried again with nmap, but nothing seems open... I think the configuration has changed or we do not know the latest configuration agreed upon with Patrick... could that be?

Tested several ports in the range:  61600-61699 and 1800-1900

[2021-11-22 22:16] rcavaliere commented on #305
@Piiit are you testing from the production environment where the Data Collector is hosted? A22 put a rule on the IP address (see above), nothing more. Could it be that we changed our IP address? That could be simply the reason...

[2021-11-24 08:43] Piiit commented on #263
@rcavaliere I move this back to TODO, since we need to implement the pipelines etc....

[2021-11-24 08:50] Piiit commented on #308
@rcavaliere I write you an email...

[2021-11-24 08:50] #308 closed

[2021-11-24 09:38] Piiit commented on #263
@rcavaliere I need the following information:

[code]

[2021-11-26 05:55] rcavaliere commented on #263
@Piiit I have tested the Data Collector. For the provenance_id missing, can we fix on our side or do we need this to be fixed by @noctho? @noctho we also need to check how "data_fine" and "data_inizio" are returned to the ODH, we don't see this data correctly stored in event_interval

[2021-11-26 06:27] rcavaliere commented on #296
@noctho for the two different station types we don't see all measurement types expected, i.e.:

- [ ] state for stationtype = BIKE_CHARGER
- [ ] state and usageType for stationtype = BIKE_CHARGER_BAY

[2021-11-26 10:50] Piiit commented on #263
We can fix the provenance on our end

[2021-11-26 13:29] noctho commented on #263
I set the eventStart and eventEnd properties of EventDto by taking the epoch seconds data_inizio and data_fine that I get from the data service. But as I see here, it should probably be the timestamp in millis:
https://github.com/noi-techpark/bdp-core/blob/adaf491bbc30611392f1fbe41f3d782f3d169e63/dal/src/main/java/it/bz/idm/bdp/dal/Event.java#L182

[2021-11-26 14:57] rcavaliere commented on #263
@Piiit if I see the code, it seems to be everything OK. Can we debug a little bit this in order to understand what happens here?

[2021-11-26 15:29] rcavaliere commented on #296
@Piiit it was my fault, the data were correctly stored in measurementstring. Evertything OK there, we can go in production with this Data Collector

[2021-11-29 09:51] Piiit commented on #296
@rcavaliere Done, please test the output on production... should we also add it to the analytics web page?

[2021-11-29 16:39] Piiit commented on #263
@rcavaliere Provenance insertion fixed, now I will look into the start and end points of each interval, which are stored as bytea and not rangetype... I think, that also this needs to be fixed on our side

[2021-11-29 21:09] rcavaliere commented on #296
@Piiit thanks! But it's correct that I don't see real-time data? For analytics don't worry, I can configure it so to see this dataset as well.

[2021-11-29 21:10] rcavaliere commented on #263
@Piiit very good let us know, also @noctho so that he is aware if he has to do something there

[2021-11-30 09:53] Piiit commented on #263
@noctho You were right, I fixed that... also the coordinates where switched... fixed that too

[2021-11-30 09:58] Piiit commented on #263
The intervals work now, but I need to know two things to conclude it:
1) Shall we use also timezones with each interval?
2) I suggest to have half-open intervals, with these boundaries `[upper, lower)`... because, calculations with olap queries would be easier and if a user wants to have a moving window across the timeline, he do not need to think about points which might have already been used in

[2021-11-30 10:48] Piiit commented on #263
@rcavaliere I had a second look into the uuid problem and suggest to rename it to `name` and use the `category,name` tuple as compound unique constraint, and related key... what do you think?

[2021-11-30 21:40] rcavaliere commented on #263
I suggest to follow the same approach as for measurements, in which we don't have timezones, isn't it? So it's clear that all timestamps are provided in the same way

[2021-11-30 21:46] rcavaliere commented on #263
For the uuid field: the idea we consolidated with Patrick B. was to use this field so to avoid to insert multiple records of the same information. For an event record to be unique, we considered the following data (coming from the A22 web-service):

- id
- data_inizio
- idtipoevento
- idsottotipoevento
- lat_fine
- lat_inizio
- lon_fine
- lon_inizio

What is strange are the errors we get. The expe

[2021-12-01 09:58] Piiit commented on #263
@rcavaliere OK, lets keep that checksum thing for now. The errors come from the fact that the code was not complete... The check to see if a event already exists was not done, it had just a hard-coded "do-nothing", that is always return that the record does not exist.

[2021-12-01 20:41] rcavaliere commented on #263
@Piiit ok, please have a look at this and make a proposal on how you suggest to manage this. As said, the DC should not have complex logics, but just provide the data retrieved from the API. All the intelligence related to the data storage should be on the ODH core side.

[2021-12-09 06:13] rcavaliere commented on #305
Status: waiting for A22 to reconfigure the access rules based on the new IP addresses we provided

[2021-12-09 07:47] RudiThoeni opened #316 "As a project manager i want to have a sharepoint data collector with image download i order to expose my data via mobility api"
- [ ] Create data collector sharepoint (deployment, repo, to discuss)
- [ ] Create image collector which uploads images to s3 bucket
- [ ] Create webcomponent to view data (use the creative industries)

[2021-12-09 07:55] RudiThoeni commented on #316
https://github.com/noi-techpark/odh-web-components/issues/38

[2021-12-09 07:55] #316 closed

[2021-12-09 08:09] #296 closed

[2021-12-09 15:37] rcavaliere commented on #305
@Piiit A22 should have found and solved the problem. Can you please check from the new IP addresses if you can connect to the back-end system?

[2021-12-09 17:03] Piiit commented on #305
@rcavaliere It seems to be open, I will redeploy the DC to be sure...

[2021-12-09 19:46] Piiit commented on #305
It works, please check our testing database, if the data is correct.

I see that some security issues exist though, the log contains sensible data, we need to fix them...

Is it safe to be run on our staging environment and also on production at the same time? I see, that some result get written back... does the retrieving endpoint handle duplicates?

The external test server is not reachable anym

[2021-12-10 05:30] rcavaliere commented on #305
@Piiit are you sure that we are receiving new data? I checked the DB, but I don't see up-to-date data. By the way, you are right. The DC provides back elaborated measurements. With Patrick B. we had to work directly in the production environment, even if not optimal. Also in this case if you think that now the connection works try to reactivate the Data Collector in the production environment and

[2021-12-10 08:03] Piiit commented on #305
I checked the DB, but we do not have fresh data their... something is still not working. I also see old data from 2020, but with a DC that has a newer version as the current one, that is really strange.

[2021-12-10 08:05] Piiit commented on #305
I will add a flag to deactivate the push to their MQTT endpoint, so that we can still test the rest of the service.

In addition, I need to deactivate deprecated integration tests, and remove the debug output of credentials.

[2021-12-10 08:07] rcavaliere commented on #305
@Piiit can you try to restart the DC in production? Probably all these issues are because as said the testing environment was not aligned with the broker of A22

[2021-12-10 08:08] Piiit commented on #305
The problem is that the old production pipeline is not compatible with our new servers, I need to refactor that first...

[2021-12-10 08:10] rcavaliere commented on #305
Ok, but probably this is the best way to proceed. I am afraid that if we disable the return channel to the A22 broker, we create some issues for them

[2021-12-10 20:04] Piiit commented on #305
@rcavaliere I wrote the production pipeline, fixed our writer and deployed the DC on production, but the MQTT endpoint seems to be unreachable again... it worked today, but now all ports are closed again. Tested from all IPs that I gave you...

[2021-12-11 05:42] rcavaliere commented on #305
@Piiit thanks for the update, just wrote back to A22 again. In case next week I put you directly in contact with the technician here which is trying to solve this issue

[2022-01-13 19:46] Piiit commented on #263
@rcavaliere I suggest the following:

- The single event is identifiable with the `uuid` field, which is unique in the whole table
- The event series is identifiable with a new field called `event_series_id`, which is arbitrary and comes from the client application (I think this is needed, even if I thought differently in previous comments, but the writer cannot always understand automatically if

[2022-01-13 19:50] Piiit commented on #263
At the moment the UUID field had already a unique constraint attached, hence the logic with event series can not be implemented through that field... however, the logic as it is in the event-a22 DC to check if an event already exist is correct, if we encode fields of the original response into a UUID field

[2022-01-18 21:15] rcavaliere commented on #263
@Piiit thanks for the proposals, I agree with them.

I think that having two IDs is the right way to go: `UUID` which is something that we can generate based on the values of the following fields:

-     `id`
-     `data_inizio`
-     `idtipoevento`
-     `idsottotipoevento`
-     `lat_fine`
-     `lat_inizio`
-     `lon_fine`
-     `lon_inizio`

and `event_series_id` in order to save the event ID

[2022-01-21 09:27] rcavaliere opened #414 "As a data analyst I would like to understand the quality of e-mobility data provided by the different e-mobility data providers"
DEADLINE: 31.05.2021

- [x] @dulvui makes an analysis if the data that we store in the DB is the same as it is published by the Data Providers
- [x] @rcavaliere will provide evidence of the data quality issues to the data providers

[2022-01-28 11:17] Piiit commented on #263
@rcavaliere The DC works now and uses the new writer backend, which is running on our staging server... Lets keep it for some time to check what lands inside Postgres... I will implement the API side now, so we can check it further.

Just a remark: The event ID that comes from A22 is unique, that is we cannot create event series ids ... Is there another field maybe to concatenate events into serie

[2022-02-04 08:33] rcavaliere commented on #263
@Piiit I wrote to A22 in order to understand better how the "id" field provided by A22. One question: I see in "name" currently a unique number (e.g. 329404). Where does this number come from in relation to the fields exposed by the A22 web-service?

[2022-02-08 23:04] #263 closed

[2022-02-17 21:38] rcavaliere commented on #263
@Piiit I am not sure that we still have the desired mapping as far as the A22 events data is concerned. I verified with A22, and they confirm that in case of a queue we should have something like that:
`<p class="MsoNormal"><span style="mso-fareast-language:EN-US"><o:p></o:p></span></p>

ID | Data versione | Sottotipo evento | Km inizio | Località inizio | Km fine | Località fine
-- | -- | -- | --

[2022-02-18 07:42] Piiit commented on #263
About the hashing: that is correct... I'll explain that later

[2022-02-18 09:47] Piiit opened #426 "Event A22 DC has a problem with time series IDs, which should be multiple and hence create a flow of connected events"
Related to #263

Original request, copied from a [comment](https://github.com/noi-techpark/bdp-commons/issues/263#issuecomment-1043474029) by @rcavaliere :

@Piiit I am not sure that we still have the desired mapping as far as the A22 events data is concerned. I verified with A22, and they confirm that in case of a queue we should have something like that:
`<p class="MsoNormal"><span style="mso-fa

[2022-02-18 09:50] Piiit commented on #263
@rcavaliere The new issue is #426 ... archiving this therefore

[2022-02-28 08:41] Piiit commented on #426
@rcavaliere It works... please check:

I tested it with:
[code]

We have multiple entries for events series with `name` equal to `499559` for example.

The exposed event ID is not a UUID, therefore I cannot store it here. This field is meant to check if a certain event series has already be inserted. The event ID itself is stored as the current event `name`. We need to model a generic event table

[2022-02-28 08:43] Piiit commented on #426
@rcavaliere Another thing is that we have only coordinates and no `localita'`, do we need that?

[2022-02-28 21:32] rcavaliere commented on #426
@Piiit thanks for the update. That's good, if we have the field name in which we store the event ID it's in my opinion sufficient. We don't need another field `event_series_name`, and we don't need `località` as well. I would say that we are able to put the DC in production, what do you think?

[2022-03-02 20:21] Piiit commented on #426
@rcavaliere I was wondering why we have some missing events, and found this comment inside the code (nothing in the README unfortunately):

[code]

Now, since we have the same credentials on the staging environment and during my local testing, it is possible that the DC de-authenticated running sessions, that could lead to data loss. Would it be possible to get another pair of credentials for the

[2022-03-02 21:00] #426 closed

[2022-03-03 05:28] rcavaliere commented on #426
@Piiit yes I agree. What's important is that now the DC has the expected behavior. How many credentials do we need? For all A22 DCs?

[2022-03-03 06:49] Piiit commented on #426
Would say two for each DC if possible

[2022-03-03 21:16] rcavaliere commented on #426
OK, can you please check in Jenkins which set of credentials is currently used for which DC? The username should be something "BNx" where x is a number. The DC are the following:

- A22 Parking
- A22 Traffic
- A22 Road Weather
- A22 Travel Times
- A22 VMS
- A22 Events

I will then ask A22 for six more credentials, to be used in the testing environment

[2022-03-05 05:54] rcavaliere opened #428 "As a bike mobility expert I would like to access again to bike counter data provided by the Municipality of Bolzano"
Current situation: no data visible anymore (even the station metadata!)

![Screenshot from 2022-03-05 06-54-54](https://user-images.githubusercontent.com/9825179/156870423-270c30d2-0cc3-4ab5-9895-6f447eaffc3f.png)

To dos:
- [ ] understand if the issue is related to the source side (e.g. web-service not providing data anymore) or on the ODH side
- [ ] in the case the issue is at the source side, s

[2022-03-05 06:16] rcavaliere opened #429 "As a service provider I would like to have access to the real-time on-street parking data of the city of Merano (Data Provider: systems + IndependentL)"
- [ ] API specification available (by systems)
- [ ] Specification of the data integration modalities (by @rcavaliere)
- [ ] Data Quality Tests (by Catch & Solve)
- [ ] Data Collector Development (by Catch & Solve)
- [ ] ODH Data Sharing contract (by @rcavaliere)
- [ ] Data Collector Integration in the ODH

[2022-03-05 06:36] rcavaliere opened #430 "As a AI expert / service provider I would like to have access to the new off-street parking predictions computed on top of the ODH"
The new prediction model has been implemented by Chris Mair on behalf of STA.

To dos:
- [ ] Specification of the modalities of integration in the ODH
- [ ] Data Collector development by Catch & Solve
- [ ] Data Collector integration in the ODH

[2022-03-19 05:44] rcavaliere opened #432 "As a project manager I would like to check the status of the DC APPATN-open (air quality)"
Is the source not providing data any more, or do we have issues on our side?
Reference DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/environment-appa-tn-opendata

[2022-03-19 05:46] rcavaliere opened #433 "As a project manager I would like to check the status of the DC On-Street-Parking-BZ"
Like #432
Reference DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/onstreet-parking-bz

[2022-03-19 05:48] rcavaliere opened #434 "As a project manager I would like to check the status of the automatic elaboration "free" for off-street parking"
To check why this elaboration does not work automatically anymore.
Reference code: https://github.com/noi-techpark/bdp-elaborations/tree/master/FreeParkingSlotsCalculation

[2022-03-19 05:54] rcavaliere opened #435 "As a project manager I would like to check the status of the Bluetooth Data Collector"
- [x] Like #432, reference Data Collector: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/vehicletraffic-bluetooth
- [x] Please also check that the elaboration chain based on the Bluetooth data is functioning again as expected (there is an application writing directly into the database, without passing through the writer if I remember well; results are saved in relation to L

[2022-03-19 05:57] rcavaliere opened #436 "As a project manager I would like to check the status of the type "vento_vel" associated to RWIS stations of A22"
The DC works fine, but we don't receive data from a certain type (vento_vel).
Reference Data Collector: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/roadweather-a22

[2022-03-19 06:04] rcavaliere opened #437 "As a project manager I would like to check if we are integrating correct data from all e-mobility DCs"
We may have an issue with the data integration process from the e-mobility Data Collectors (https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/emobility-echarging).

It seems that the charging stations do not have variations if we look at time series, e.g. https://analytics.opendatahub.bz.it/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B

[2022-03-19 06:05] rcavaliere opened #438 "As a project manager I would like to check the status of the DC IIT"
Like #432
Reference DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/emobility-hydrogen

[2022-03-19 06:07] rcavaliere opened #439 "As a project manager I would like to check the status of the DC VMS A22"
Open issues:
- [x] Dump historical data for the period in which we were not able to receive data
- [x] Implement improved logics for correct values reading (texts vs pictograms with paging)
- Postponed #509

[2022-03-19 06:09] rcavaliere opened #440 "As a project manager I would like to check the status of the DC LinkStation A22"
Like #432
Reference DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/traveltimes-a22

[2022-03-19 06:12] rcavaliere opened #441 "As a project manager I would like to check the status of the types "wind-speed" and "water-temperature" associated to weather stations of the Province of BZ"
Similar issue as for #436
Reference Data Collector: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/meteorology-bz

[2022-03-19 06:13] rcavaliere opened #442 "As a project manager I would like to check the status of the DC "Bike Sharing Papin""
Like #432
Reference DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/bikesharing-papin

Papin Endpoint gives 408 timeout

[2022-03-22 09:57] Piiit commented on #439
@rcavaliere I checked the data collector, but I do not understand what the problem is. Could you please provide some examples and what you would expect to be there... thank you

[2022-03-22 10:06] rcavaliere commented on #439
@Piiit the issue here is that the data stream is stopped at 1.3. Don't we receive updated data? I don't think so...

[2022-03-22 12:50] Piiit commented on #439
@rcavaliere Ah, yes, clear now... looked only at stations which had issues in the past, and not measurements... sorry ... I see that 116 signs of 267 get processed correctly, but then an exception occurs, that is not handled inside the data collector... I will solve that now...

[2022-03-24 17:15] Piiit commented on #439
@rcavaliere This should be solved now, please check the data to be sure... thanks

The problem was a constraint on the length of possible string measurements. It was not a regression, but just a coincidence that it was discovered now...

I tested with the following query:
[code]

This gives dates from 2022-03-24, so it should be ok I guess... please verify

[2022-03-24 17:25] rcavaliere commented on #439
@Piiit wonderful, it seems to be ok. Thanks for the clarification. Do you have this long string that caused the problem? So that I can provide this feedback to A22 and the other BrennerLEC partners.

[2022-03-24 17:38] rcavaliere commented on #439
@Piiit ah ok. Strange, it seems that they transmit the same message more than once. Probably a bug on their site on how they map this information on the API...

[2022-03-26 05:24] rcavaliere commented on #439
@Piiit CISMA has noticed correctly that when the DC was reactivated we were not able to integrate the historical data between March 1st and March 17th circa... it is strange since the DC should have a logic to start from the last record stored in the ODH core. Can we find a way to integrate the data related to this hole or is it too much effort?

[2022-03-26 05:36] rcavaliere commented on #439
@Piiit we have also another issue with the VMS, see https://issues.opendatahub.bz.it/Ticket/Display.html?id=5592
It seems that in some cases for the VMS that should receive a numeric value (associated to a pictogram shown) we receive something like value | value | value. It's the same that raised the problem for the VMS that receives strings. What is the current situation now? Are we able to corre

[2022-03-28 19:01] Piiit commented on #439
@rcavaliere
The logic of the DC works as follows at the moment:
For each sign, it fetches all events. For each event, it fetches all components. It loops over such components and extracts for each a value "esposozione" or "stato". If for the same tuple `road/sign/event/component` one of these values already exist it concatenates these values with a pipe. This results in something like the followin

[2022-03-28 19:02] Piiit commented on #439
@rcavaliere all these numbers above are also stored as strings, because the DC sends them as text inside json, and not as a number

[2022-03-28 20:12] rcavaliere commented on #439
@Piiit there is something strange here. This logic was introduced so to be able to import the translations of the texts, which are bilingual and provided in two different pages on the component, like

`AREA DI SERVIZIO LAIMBURG OVEST INAGIBILE |RASTSTÄTTE LAIMBURG OVEST GESPERRT`

I would remove this logic and just consider the first value provided in the first page of the component, so to avoid t

[2022-03-29 06:41] Piiit commented on #439
@rcavaliere I had a look at the code, but the logic does not allow to get time frames of the past easily. It is closely connected to the current timestamp of `now()`, which would need a rewrite of that logic to be able to recover gaps. Should we do that? If yes, please create a new issue for that.

[2022-03-29 06:49] Piiit commented on #439
I will do the following:
- if the existing entry is the same as the new one, I will skip it --> to avoid strings like `1|1|1`
- if the existing entry is different, I will concatenate the strings --> so we can still have `AREA DI SERVIZIO LAIMBURG OVEST INAGIBILE |RASTSTÄTTE LAIMBURG OVEST GESPERRT`
- the problem here are mixed situations, that I will not cover for now (tell me if that should be co

[2022-03-29 20:16] rcavaliere commented on #439
@Piiit I think we need here two developments, but let me discuss this with Catch & Solve who developed the DC...
For the problems of your last comment:

- this should never happen. These messages are related to pictograms, and they don't change like text messages
- we have to integrate also "empty" messages, these are also important to understand when was published what. In this case, you should a

[2022-04-01 07:31] #428 closed

[2022-04-08 12:29] Piiit opened #511 "Migrate all DC to the new dc-interface (SDK) version and introduce dashboards and Github Action CI/CD"
See [BURNDOWN](https://docs.google.com/spreadsheets/d/1T1kpA61oAouYV8TRWP3S8pPWW_aCX8xK-7G2Ip040jQ/edit#gid=1331789442)

- [x] Github Action CI / CD
- [x] New dc-interface
- [x] New dependencies
- [x] .env configuration
- [x] JSON logging
- [x] Dashboards on Grafana (automatically generated)

- [x] Alerting
  (#539)

- [x] Healthcheck + Stats
  (#541)

[2022-04-08 16:26] #434 closed

[2022-04-08 16:28] #436 closed

[2022-04-08 16:30] #441 closed

[2022-04-08 16:32] #432 closed

[2022-04-13 19:55] rcavaliere commented on #433
@Piiit @dulvui I have seen that the DC ha stopped again to send data, do we have this time an issue with the Data Provider or is always a problem at our side?

[2022-04-14 13:29] dulvui commented on #433
I'll check now

[2022-04-15 08:22] Piiit commented on #307
@rcavaliere I think we can close this, right?

[2022-04-15 16:09] rcavaliere commented on #307
@Piiit did you integrate the DC in testing environment (see above linked PR)?

[2022-04-19 08:41] Piiit commented on #442
@rcavaliere The issue has been solved already, do you need some dashboard or alerting to check the status continuously, or did you simply mean to check it once?

[2022-04-19 08:50] Piiit commented on #439
@rcavaliere Waiting for Catch/Solve

[2022-04-19 09:05] Piiit commented on #307
The related PR was automatically closed by Github, I will integrate it now

[2022-04-19 10:24] Piiit commented on #307
@rcavaliere The DC has only a event-uuid, but misses the event-series unique identifier...

The event UUID is composed of:
- beginDate
- endDate
- messageId
- messageTypeId
- X
- Y

Should I build the event-series-uuid with these fields?
- messageId
- messageTypeId

[2022-04-19 12:38] rcavaliere commented on #442
@Piiit at present the Grafana dashboard is sufficient! Let's close this issue

[2022-04-19 12:38] #442 closed

[2022-04-20 07:49] Piiit commented on #307
we have two UUIDs here, one for the event itself and one for the event-series... since the second did not exist when the DC has been written, I ask, which fields form a single event, and which fields should be used to form an identifier for series of events? If this DC has only single events and no series, we can just use the same UUID (of all six fields) for event-uuid and event-series-uuid

[2022-04-20 07:50] Piiit commented on #307
The source code uses all 6 fields at the moment, which should I take out?

[2022-04-20 09:26] Piiit commented on #307
@rcavaliere The date interval seems to be wrong, I check that now

[2022-04-20 09:27] Piiit commented on #307
You can test everything with https://mobility.api.opendatahub.testingmachine.eu/v2/flat,event/PROVINCE_BZ

[2022-04-20 13:09] rcavaliere commented on #307
@Piiit ok let me test it in the next days...

[2022-04-20 13:11] rcavaliere commented on #435
@Piiit please have a look why we have several sensors set as not available, in particular those installed in Merano

[2022-04-20 13:14] rcavaliere opened #489 "Innovative Air Quality Sensors A22 DC not working anymore?"
It seems that we don't receive again data from this DC since 11.4.... can we check if it is an issue on our side or again an issue of the Data Provider?

[2022-04-20 13:22] rcavaliere opened #490 "A22 Parking DC should not have (if not necessary) the types "free" and "occupied""
I don't know why, but A22 parking areas have now as types "free" and "occupied". At present, A22 provides the information "occupied" only for a parking area (Sadobre), for the others we just receive a state. Please have a look at the attached specifications.
[210813_SpecificheIntegrazione_A22_Parcheggi_v2.pdf](https://github.com/noi-techpark/bdp-commons/files/8521833/210813_SpecificheIntegrazione_

[2022-04-20 13:41] Piiit commented on #307
@rcavaliere Perfect, the date issues are solved now

[2022-04-22 08:59] dulvui commented on #440
The A22 endpoint gives httpcode "500 Internal Server Error" when fetching data from /percorrenze/anagrafica.
Authentication and de-authentication work fine.
Could it be that there are problems or changes on the endpoint /percorrenze/anagrafica?

[2022-04-22 11:07] rcavaliere commented on #440
@dulvui thanks for the feedback, I will ask A22!

[2022-04-23 04:20] #489 closed

[2022-04-23 04:21] rcavaliere opened #508 "A22 Environment Data should be elaborated differently"
We need to check the elaboration chain here. The raw data (e.g. NO2-ALPHASENSE_RAW [600]) should be processed in this way:

- hourly average -> e.g. NO2-ALPHASENSE_RAW [3600]
- complex non linear formula -> e.g. NO2-ALPHASENSE_PROCESSED [3600]

In other words, we shouldn't have processed values with period = 600 (e.g. NO2-ALPHASENSE_PROCESSED [600])

We should check this together, because the pipe

[2022-04-23 04:28] rcavaliere commented on #440
@dulvui asked, they will check this. This should be a technical problem on their side

[2022-04-23 06:58] #438 closed

[2022-04-26 16:43] rcavaliere commented on #440
@dulvui A22 should have fixed the problem. Can you check if the data is entering? If I look at this web-component I still don't see real-time data, but maybe we are still integrating the hole of historical data we miss..

https://webcomponents.opendatahub.testingmachine.eu/webcomponent/ffe771ee-1786-11eb-adc1-0242ac120002/fullscreen?attribs=PG5vaS1tb2JpbGl0eS10cmFmZmljIGxhbmc9ImVuIiBzdHlsZT0iLS1ub

[2022-04-28 09:38] dulvui commented on #440
The datacollector works now and is green in the Grafana dashboard.
But in the webcomponent the error "A22 geometry data is incomplete for given segment" is shown for most of the tracks.
Only from "Bolzano Nord to Bolzano Sud" and "Trento Nord to Trento Sud" the gemoetry data is given.
Is that correct?

[2022-04-28 09:39] rcavaliere commented on #440
@dulvui yes it is. I have to insert manually all the geometries first...

[2022-04-29 03:57] rcavaliere commented on #429
Current situation: everything clarified technically and "commercially". Catch & Solve is making some final adjustments to the Data Collector, which can then finally integrate in our architecture

[2022-04-29 04:20] rcavaliere commented on #307
@Piiit I have tested the DC. I have the following open points:

- [ ] description is expected to be a string providing more details about the event (formatted as "description_IT | description_DE")
- [ ] event_interval is not properly formatted (e.g. "["2022-04-20 00:00:00",)") -> please just use "[ ]" or "( )". I have seen that in some cases the information of the event end date ("evend") is not a

[2022-05-05 15:20] Piiit commented on #439
Inserted historical data that was missing, now I will check the output of what has been changed in the past regarding string messages and their concatenation...

[2022-05-06 08:26] Piiit commented on #439
@rcavaliere
I fixed these issues now (on testingmachine) as follows:

- Keep a single space string ' ' to avoid gaps in time series
- Remove leading and trailing whitespace
- Keep only one space in between
- Do not concatenate duplicate strings
- Avoid trailing pipes

I see that in the DB we still have some wrong concatenations in old string_values, should they be fixed as well?
This would mean to

[2022-05-06 09:31] rcavaliere commented on #439
@Piiit I don't know how much effort is to correct all historical values... if high, I wouldn't do it.

[2022-05-06 09:38] Piiit commented on #439
It is a bit of work, because we must be very careful and query time might be quite high... maybe 3-4 hours of work

[2022-05-06 09:39] rcavaliere commented on #439
ok, I would suggest to focus on other user stories now, I will suggest to keep the user story open and to complete it in a latter step

[2022-05-10 14:20] #433 closed

[2022-05-11 07:23] Piiit opened #509 "vms-a22: Correct historical string measurements, which had wrong concatenations of strings"
See comments in #439 for details

[2022-05-11 07:24] Piiit commented on #439
@rcavaliere I create a separate issue for the historical data correction... everything done

[2022-05-11 07:24] #439 closed

[2022-05-11 09:55] rcavaliere opened #510 "A22 Traffic Data Collector has some issues in the elaboration chain (right data aggregation)"

[2022-05-21 04:17] rcavaliere opened #512 "APPATN Environmental DC raw measurement can be put in stand-by"
As the measurement station has been put in stand-by, we can temporarily stop this DC: https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/environment-appa-tn-tenminutes

[2022-05-23 07:27] Piiit commented on #512
@dulvui If you put it in standby, we need also an upgrade of the alert and dashboard rules https://github.com/noi-techpark/infrastructure/blob/main/grafana/config.js

I think we can comment that block and then remove it manually from Grafana. I need to see... I will do this, since all these alerts are still in testing

[2022-05-23 07:53] dulvui commented on #512
DC deployment is stopped and commented out in the Github Action.
Also the Grafana dashboard for this DC has been commented out in the config and removed.

[2022-05-23 07:55] #512 closed

[2022-05-24 20:54] rcavaliere opened #513 "E-Mobility Nevicam DC should be stopped, since the back-end does not manage any e-charging stations anymore"
The DC can be stopped temporarily. In case new charging stations will be available, we might reactivate the DC.

[2022-05-25 07:06] Piiit commented on #513
@dulvui Do you have time for this? I think we just need to comment the github action and grafana config... as you did already before, and stop the DC on the servers...

[2022-05-25 12:24] #513 closed

[2022-05-25 13:22] Piiit commented on #508
![Uploading photo5796666890259643185.jpg…]()

[2022-05-27 08:44] rcavaliere opened #532 "Remove parking.bz.it footer"
See screenshot (all this part should be removed, since no more actual)

![Screenshot from 2022-05-27 10-41-59](https://user-images.githubusercontent.com/9825179/170664652-9398c5b1-c5be-4701-ac10-9a455b6c24e2.png)

[2022-05-27 20:00] Piiit commented on #508
@rcavaliere Had a look at all DC that produce the wrong PROCESSED measurements with period=600...

### processed 600
[code]

It seems that only these 3 old DC produced those outputs, all newer data collectors no longer do this. So the problem could be already solved, it is just cleanup that we need to remove the wrongly inserted data from the history and current number measurement tables.

### all

[2022-05-27 20:06] rcavaliere commented on #508
@Piiit yes I agree. We should just keep the right elaborations and clean what was not correctly computed.

[2022-05-27 20:14] Piiit commented on #508
I will have a look at that on Monday, the whole data collector list including versions, lineage and data types is this:
[code]

Computed by:
[code]

[2022-05-27 20:23] rcavaliere commented on #508
@Piiit thanks for the check. But could it be that the right elaboration tools are the ones with origin = NOI?

[2022-05-30 06:50] Piiit commented on #508
@rcavaliere I have no clue, I was hoping you can tell me... We need to check what is what and write some documentation about the whole data flow. Where should we put that?

[2022-05-30 07:15] rcavaliere commented on #508
Yes, please do this. Put in the README of each component what it exactly does in terms of functionalities

[2022-05-30 12:43] dulvui commented on #429
The dc is now running in testing environment and I changed the name from on-street-parking to parking-onstreet-merano

[2022-05-30 15:16] dulvui commented on #437
I saw that on analytics testing machine other values are shown:
https://analytics.opendatahub.testingmachine.eu/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1653170400000,%22to%22:1653775200000%7D,%22graphs%22:%5B%7B%22category%22:%22E-Mobility%22,%22station%22:%22ASM_00000131%22,%22station_name%22:%22BZ_V_VOLTA%22,%22data_type%22:%22number-ava

[2022-05-30 20:35] rcavaliere commented on #437
@dulvui interesting, the same station gives on production the following: https://analytics.opendatahub.bz.it/#%7B%22active_tab%22:0,%22height%22:%22400px%22,%22auto_refresh%22:false,%22scale%22:%7B%22from%22:1653170400000,%22to%22:1653775200000%7D,%22graphs%22:%5B%7B%22category%22:%22E-Mobility%22,%22station%22:%22ASM_00000131%22,%22station_name%22:%22BZ_V_VOLTA%22,%22data_type%22:%22number-availa

[2022-06-02 13:57] rcavaliere commented on #429
@dulvui @Piiit I have tested the data stream in the testing environment. In my opinion, it's all OK, but I would fix one point: the associated types should be the same as the other on-street parking Data Collector. I will ask CatchSolve to fix this and to make a new PR before going into production.

[2022-06-03 15:51] rcavaliere commented on #429
@dulvui please integrate the new PR that should solve the above mentioned issue: https://github.com/noi-techpark/bdp-commons/pull/534

[2022-06-07 07:14] dulvui commented on #429
I merged now the PR and its running on testing.
@rcavaliere let me know if everything is fine now, then I'll deploy to production.

[2022-06-07 13:17] dulvui commented on #437
The problem should be fixed now.
The was a logical error in the Data Retriever class that the stations got fetched only once on startup and then never again, so the data stayed the same until the application was restarted or deployed again.
I'll check now with my data-quality python script, if the data is correct now, but a first test showed no errors (for the first time ever :smile: )

[2022-06-07 13:19] rcavaliere commented on #437
@dulvui good to hear that you could be able to find and fix the problem!

[2022-06-08 05:38] rcavaliere commented on #429
@dulvui tested, now works as expected. Let's put everything on production!

[2022-06-08 06:53] dulvui commented on #437
The data is still correct and analytics.opendatahub.com shows now much more changes for number-avaiable.

[2022-06-08 06:53] #437 closed

[2022-06-08 07:07] dulvui commented on #429
@rcavaliere Done

[2022-06-09 09:18] Piiit commented on #508
@rcavaliere I changed the period now to 60, should we also change the old period=600 records to period=60 inside the production DB?

[2022-06-09 09:49] rcavaliere commented on #508
@Piiit yes, would be better. But of course just the relevant data types (with RAW in the description)

[2022-06-10 07:45] #414 closed

[2022-06-13 19:41] Piiit commented on #508
@rcavaliere Done, everything in production... please double-check if everything is ok like this.

Also eventually the documentation:
1) https://github.com/noi-techpark/bdp-elaborations/tree/main/environment-a22-averages
2) https://github.com/noi-techpark/bdp-elaborations/tree/main/environment-a22-non-linear-calibration
3) https://github.com/noi-techpark/bdp-commons/tree/main/data-collectors/enviro

[2022-06-13 19:41] #508 closed

[2022-06-14 07:15] Piiit commented on #430
@rcavaliere I am not exactly sure what you mean with old model, but I think reusing types is a good practice. We could then still just use older measurements for some prediction models and newer measurements for newer prediction models. So we define inputs by a timepoint and not type...

[2022-06-14 07:34] rcavaliere commented on #430
@Piiit thanks for the feedback, I will ask CatchSolve to change the Data Collector, so that the previous types are reused

[2022-06-14 11:43] rcavaliere commented on #509
@Piiit that's not an issue, we can proceed!

[2022-06-14 12:28] Piiit commented on #509
@rcavaliere Done, we updated 3661043 records...

Please test on production and eventually reopen this issue

[2022-06-14 12:28] #509 closed

[2022-06-15 05:30] rcavaliere commented on #430
@dulvui now the Data Collector is OK, please put it in production

[2022-06-15 08:17] dulvui commented on #430
The dc is now in production, I just need some time to adjust the old datatypes (uppercase) to the new ones (lowercase) because I accidentally deployed to production with the old datatypes

[2022-06-20 13:23] Piiit opened #539 "As maintainer of the ODH Mobility, I want to have alerts when something goes wrong for each data collector, to react immediately on failure"

[2022-06-21 08:49] davidebz opened #540 "Fix parking forecast bug"
To fix please change the MainParkingForecast.java class at line 89

from

new SimpleRecordDto(timestampMillis, propertyValue, datatypeConfiguration.getPeriod()));

to

new SimpleRecordDto(forecastDatatypeTimestamp.toInstant().toEpochMilli(), propertyValue, datatypeConfiguration.getPeriod()));

[2022-06-21 09:40] Piiit opened #541 "As maintainer of the ODH Mobility, I want to have regular healthchecks and statistics to understand how much data comes in, and if we experience downtime"

[2022-06-21 09:41] #511 closed

[2022-06-21 09:46] #540 closed

[2022-06-21 13:52] dulvui commented on #490
I checked the datacollector and it calculates the occupied value with "capacity - free", so it doesn't use a value from A22 but calculates it on its own. Should I remove this state or should i leave it as it is?

[2022-06-21 16:14] rcavaliere commented on #490
@dulvui the point is that the type "free" should not be associated to these parking areas. So, if you correct this, the automatic elaboration for the "occupied" type should be automatically fixed.